include ../../logo/logo.pug
include ../../button/__mean-oval/button__mean-oval.pug
include ../../navigation-bar/navigation-bar.pug

mixin headerLanding( item )
  .header-landing
    .header-landing__sections_left
      .header-landing__logo
        +logotype('colorful')
    .header-landing__sections_right
      .header-landing__nav
        +navigationBar({
          links: [
            { name: "О нас", bold: true },
            { name: "Услуги", icon: true },
            { name: "Вакансии", },
            { name: "Новости", },
            { name: "Соглашения", icon: true },
          ]
        })
      case item.authorized
        when true
          .header-landing__user-bar
            span.header-landing__user-bar_full-name Юлий Цезарь
        when false 
          .header-landing__authorization-buttons
            +meanOvalButtons([
              {
                groupname: "header-landing__login-btn",
                type: "outlined",
                text: "войти"
              },
              {
                groupname: "header-landing__registration-btn",
                type: "contained",
                text: "зарегестрироваться",
                widthbypercent: 75
              }
            ])
