@import "@variables";
@import "../button.scss";

.toggle-button {
  display: flex;

  &__array {
    display: grid;
    grid-row: 2;
    grid-gap: 14px;
  }

  &__elem {
    @extend .oval-button_frame;
    display: flex;
    align-items: center;
    margin-right: 10px;

    &::after {
      @extend .oval-button_dot-marker;
      display: flex;
      margin-inline: 3px;
      -webkit-transition: transform 0.3s ease;
      transition: transform 0.3s ease;
      content: '';
    }

    &:checked::after {
      background: $primary-gradient;
      -webkit-transform: translateX(20px);
      transform: translateX(20px);
    }
  }

  &__label {
    display: flex;
    align-items: flex-start;
  }
}
