mixin toggleButton( item )
  - const buttonChecked = item.pressed ? true : false

  .toggle-button 
    input.toggle-button__elem( id=item.id type='checkbox' checked=buttonChecked )
    label.toggle-button__label.custom-font-style_body( for=item.id ) #{item.label}
