mixin toggleButtons( items=[] )
  each item in items
    - const buttonChecked = item.pressed ? true : false

    .toggle-button 
      input.toggle-button__elem( type='checkbox' checked=buttonChecked )
      label.toggle-button__label #{item.label}
