@import "@variables";

$buttonSize: 100%;

.circle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $buttonSize;
  width: $buttonSize;
  box-sizing: border-box;
  background-color: $white;
  border: 1px solid rgba($valhalla, 0.25);
  border-radius: 50%;
  color: rgba($valhalla, 0.5);
  font-size: calcRelativeFontSize( 18 );
  font-weight: normal;
  cursor: pointer;

  &_frozen {
    pointer-events: none;
    opacity: .5;
  }
}
