include /components/material-icon-cell/material-icon-cell.pug

mixin circleButton( item )
  if ( item.text )
    .circle-button #{item.text}
  if ( item.icon )
    label.circle-button( for=item.id )
      +materialIcon( item.icon, item.id )
