@import "@variables";

$optionButtonSize: 30px;

.circle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $optionButtonSize;
  width: $optionButtonSize;
  box-sizing: border-box;
  border: 1px solid rgba($valhalla, 0.25);
  border-radius: 50%;
  color: rgba($valhalla, 0.5);
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
  transition: opacity .5s ease;

  &_frozen {
    pointer-events: none;
    opacity: .5;
  }
}
