include /components/material-icon-cell/material-icon-cell.pug

mixin inputSubscription( item )
  input.input__frame( type='Email' placeholder=item.placeholder disabled=item.disabled )
  .input__icon_subscribe
    +materialIcon('arrow_forward', item.id)
