@import "@variables";

.registration {

  & > * {
    display: grid;
    grid-gap: 10px;
  }

  &__title {

  }

  &__input {
    &_basic-data {

    }

    &_date-of-birth {

    }

    &_login-data {

    }
  }

  &__button_submit {

  }

  &__login-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

    &_text {
      font-size: 14px;
      color: rgba($valhalla, .75);
    }
  }
}
