include /components/input/input.pug
include /components/button/__mean-oval/button__mean-oval.pug
include /components/button/__radio/button__radio.pug
include /components/button/__toggle/button__toggle.pug

mixin cardRegistration()
  .card-registration.card-style_default
    .card-registration__title Регистрация аккаунта
    .card-registration__input_basic-data
      +input({ placeholder: "Имя" })
      +input({ placeholder: "Фамилия" })
      .card-registration__radio-buttons
        +radioButtons([
          { id: "registration_male",   label: "Мужчина", pressed: true },
          { id: "registration_female", label: "Женщина" }
        ])
    .card-registration__input_date-of-birth
      +input({ title: "дата рождения", placeholder: "ДД.ММ.ГГГГ" })
    .card-registration__input_login-data
      +input({ placeholder: "Email", title: "данные для входа в сервис", type: "Email" })
      +input({ placeholder: "Пароль" })
      +toggleButton({ id: "registration_toggle_01", label: "Получать спецпредложения", pressed: false })
    form.card-registration__button_submit( action="website__landing.html" )
      +meanOvalButtons({
        groupname: "registration__button_submit",
        buttons: [{
          type: "submit",
          mode: "contained",
          text: "Зарегистрироваться",
          iconname: "arrow_forward",
        }]
      })
    form.card-registration__login-section( action="website__login.html" )
      .card-registration__login-section-container.card-footer
        span.card-registration__login-question Уже есть аккаунт на Toxin?
        +meanOvalButtons({
          groupname: "registration__button_login",
          buttons: [{
            type: "submit",
            mode: "outlined",
            text: "войти",
            widthpx: "99px"
          }]
        })
