.registration {

  & > * {
    display: grid;
    grid-gap: 10px;
  }

  &__title {

  }

  &__input {
    &_basic-data {

    }

    &_date-of-birth {

    }

    &_login-data {

    }
  }

  &__button {
    &_submit {

    }

    &_login {
      margin-top: 10px;
    }
  }
}