include /components/input/input.pug
include /components/button/__mean-oval/button__mean-oval.pug
include /components/button/__radio/button__radio.pug
include /components/button/__toggle/button__toggle.pug

mixin cardRegistration()
  .registration.card-style_default
    .registration__title
      span.custom-font-style_h1 Регистрация аккаунта

    .registration__input_basic-data
      +input({ placeholder: "Имя" })
      +input({ placeholder: "Фамилия" })

      .registration__radio-buttons
        +radioButtons([
          { id: "registration_male",   label: "Мужчина", pressed: true },
          { id: "registration_female", label: "Женщина" }
        ])

    .registration__input_date-of-birth
      +input({ title: "дата рождения", placeholder: "ДД.ММ.ГГГГ" })

    .registration__input_login-data
      +input({ placeholder: "Email", title: "данные для входа в сервис", type: "Email" })
      +input({ placeholder: "Пароль" })

      +toggleButton({ id: "registration_toggle_01", label: "Получать спецпредложения", pressed: false })

    .registration__button_submit
      +meanOvalButtons({
        groupname: "registration__button_submit",
        buttons: [
          {
            type: "contained",
            text: "Зарегистрироваться",
            iconname: "arrow_forward",
            widthbypercent: 100
          }
        ]
      })

    .registration__login-section
      .registration__login-section-container.card-footer
        span.custom-font-style_body Уже есть аккаунт на Toxin?
        +meanOvalButtons({
          groupname: "registration__button_login",
          buttons: [
            { type: "outlined", text: "войти" },
          ]
        })
