include /components/input/input.pug
include /components/button/__mean-oval/button__mean-oval.pug
include /components/button/__radio/button__radio.pug
include /components/button/__toggle/button__toggle.pug

mixin cardRegistration()
  .registration.card-style_default
    .registration__title
      span.find-room__title.font-size_h1 Регистрация аккаунта

    .registration__input_basic-data
      +inputs([
        { placeholder: "Имя" },
        { placeholder: "Фамилия" }
      ])
      .registration__radio-buttons.twinline-gap_own
        +radioButtons([
          { id: "registration_male",   label: "Мужчина", pressed: true },
          { id: "registration_female", label: "Женщина" }
        ])

    .registration__input_date-of-birth
      +inputs([
        { title: "дата рождения", placeholder: "ДД.ММ.ГГГГ" }
      ])

    .registration__input_login-data
      +inputs([
        { placeholder: "Email", title: "данные для входа в сервис", type: "Email" },
        { placeholder: "Пароль" }
      ])

      +toggleButtons([
        { groupname: "registration_toggles", label: "Получать спецпредложения", pressed: false },
      ])

    .registration__button_submit
      +meanOvalButtons({
        groupname: "registration__submit-button",
        buttons: [
          {
            type: "contained",
            text: "перейти к оплате",
            iconname: "arrow_forward",
            widthbypercent: 100
          }
        ]
      })

    .registration__button_login.twinline-gap_longest
      span.registration__bottom-text Уже есть аккаунт на Toxin
      +meanOvalButtons({
        groupname: "uik-fe__mob-mid",
        buttons: [
          { type: "outlined", text: "войти" },
        ]
      })