@import "@variables";
@import "src/styles/material-icons.scss";

$color_font: rgba($valhalla, .5);

$bgGrad_active: $primary-gradient;
$bgGrad_arrows: $secondary-gradient;

$bgColor_onHover: rgba($perfume, .25);

$circleboxSize: 40px;

.custom-paginationjs {
  float: left;
  margin: 0;
  padding: 0;

  .paginationjs-pages{ 
    float: inherit;

    & ul {
      float: inherit;
      margin: 0;
      padding: 0;

      li {
        float: inherit;
        border: none;
        list-style: none;

        & > a {
          display: block;
          height: $circleboxSize;
          width: $circleboxSize;
          line-height: $circleboxSize;
          background: transparent;
          color: $color_font;
          text-decoration: none;
          text-align: center;
          font-size: 12px;
          border-radius: 50%;
          transition: all .5s ease;

          &:hover {
            background: $bgColor_onHover;
          }
        }

        &.paginationjs {
          &-prev > a {
            transform: scaleX(-1);
          }

          &-prev > a,
          &-next > a{
            @extend .material-icons-outlined;
            background: $bgGrad_arrows;
            color: white;

            &:hover {
              opacity: .75;
            }
          }
        }

        &.active > a {
          color: white;
          background: $bgGrad_active;
        }

        &.disabled > a:hover {
          background: none;
        }
      }
    }
  }
}