@import "@variables";
@import "../material-icon-cell/material-icon-cell.scss";

$bgGrad_active: $primary-gradient;
$bgGrad_arrows: $secondary-gradient;

$fontColor_default: rgba($valhalla, .5);
$fontColor_nav: rgba($valhalla, .75);
$bgColor_onHover: rgba($perfume, .25);

$circleboxSize: 40px;

.custom-paginationjs {
  display: grid;
  grid-gap: 10px;
  justify-items: center;
  float: left;
  margin: 0;
  padding: 0;

  .paginationjs-pages{
    float: inherit;
    font-size: 12px;

    & ul {
      float: inherit;
      margin: 0;
      padding: 0;

      li {
        float: inherit;
        border: none;
        list-style: none;

        & > a {
          display: block;
          height: $circleboxSize;
          width: $circleboxSize;
          line-height: $circleboxSize;
          background: transparent;
          color: $fontColor_default;
          text-decoration: none;
          text-align: center;
          border-radius: 50%;
          transition: all .5s ease;

          &:hover {
            background: $bgColor_onHover;
          }
        }

        &.paginationjs {
          &-prev > a {
            transform: scaleX(-1);
          }

          &-prev > a,
          &-next > a{
            @extend .material-icons;
            background: $bgGrad_arrows;
            color: white;

            &:hover {
              opacity: .75;
            }
          }
        }

        &.active > a {
          color: white;
          background: $bgGrad_active;
        }

        &.disabled > a:hover {
          background: none;
        }
      }
    }
  }

  .paginationjs-nav {
    color: $fontColor_nav;
    font-size: 14px;
  }
}
