@import "@variables";

.dropdown {
  position: relative;
  top: -1px;
  border-color: rgba(31, 32, 65, .5);
  border-top-color: transparent;
  border-radius: 0px 0px 4px 4px;
  padding: 7px 7px 7px 15px;
  width: inherit;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  display: none;

  &__option {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    height: 30px;
  
    &_name {
      color: $valhalla;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
    }
  }
}

.dropdown-closed {
  border-radius: 4px !important;
}

.dropdown-opened {
  border-radius: 4px 4px 1px 1px !important;
}

.dropdown-ejected {
  display: block;
}