@import "@variables";

.dropdown {
  border: 1px solid $valhalla;
  border-radius: 0px 0px 4px 4px;
  box-sizing: border-box;
  opacity: .25;
  padding: 0px 15px 0px 15px;
  outline: none;
  appearance: none;
  width: inherit;

  &__option {
  
    &_name {
      text-transform: uppercase;
    }
  }
}