mixin dropdowns( item )
  .dropdown.elem__border
    each option in item.options
      .dropdown__option
        span.dropdown__option_name #{option}
        .dropdown__button_inc 
        span.dropdown__counter 
        .dropdown__button_dec
    