@import "@variables";

.dropdown {
  border-radius: 0px 0px 4px 4px;
  border-top: 0;
  padding: 0px 15px 0px 15px;
  width: inherit;

  &__option {
    margin: auto;
  
    &_name {
      color: $valhalla;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
    }
  }
}