include ../title-bar/title-bar.pug
include __link/navigation-bar__link.pug

mixin navigationBar( item )
  - const orientationSuffix = item.vertical ? 'vertical' : 'horizontal'
  - const orientationClass = 'navigation-bar_' + orientationSuffix

  nav.navigation-bar( class=orientationClass )
    if item.vertical
      +titleBar( item.title )
    each link in item.links
      +link( link )
