mixin colorItems( items=[] )
  .color-items__holder
    each item in items
      .color-item
        .color-item__sample&attributes({
          class: [item.opaque, "background-color_" + item.name]
        })
        .color-item__description
          p.color-item__description__pseudoname #{item.pseudoname}
          p.color-item__description__hex-code #{item.hexcode}