@import "@variables";
@import "../../styles/gradient-fill-entities.scss";

$default-color: rgba($valhalla, .25);
$focused-color_text: rgba($valhalla, .75);
$focused-color_border-n-icon: rgba($valhalla, .5);

.input {

  &__line-array {
    grid-gap: 20px;
  }

  &__title {
    margin-bottom: 5px;
  }

  &__element {
    position: relative;
    width: inherit;
  }

  &__frame {
    margin: 0;
    border-radius: 4px;
    border-color: $default-color;
    color: $focused-color_text;
    height: 44px;
    padding: 0px 15px 0px 15px;
    width: inherit;
    background-color: transparent;

    &::placeholder {
      color: $default-color;
      font-size: 14px;
      line-height: 24px;
    }

    &:hover,
    &:disabled,
    &:focus-within,
    &[checked] {
      border-color: $focused-color_border-n-icon;

      &::placeholder {
        color: $focused-color_text
      }

      & + .input__icon_dropdown {
        & > .material-icons{
          color: $focused-color_text
        }
      }
    }

    &.dropdown.expander[checked] {
      border-radius:4px 4px 0px 0px;
    }
  }

  &__icon {
    &_expand,
    &_subscribe {
      position: absolute;
      bottom: 10px;
      right: 10px;
      
      & > .material-icons {
        cursor: pointer;
      }
    }

    &_expand {
      color: $focused-color_border-n-icon;
    }
  
    &_subscribe {
      @extend .gradient-fill;
    }
  }

  &__frame.expander {
    cursor: pointer;
  }
}

.input__dropdown,
.input__frame {
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  outline: none;
}
