include /components/title-bar/title-bar.pug

include _date-picker/input_date-picker.pug
include _default/input_default.pug
include _dropdown/input_dropdown.pug
include _subscription/input_subscription.pug

mixin input( item )
  - const widthByPercent = item.widthbypercent ? item.widthbypercent : '100'
  - const widthByPercentClass = `elem__width_${widthByPercent}`
  - const expanderParentCase = item.type === 'dropdown' || item.type === 'date-picker';
  - const expanderParentClass = expanderParentCase ? 'expander__parent' : '';

  .input( class=[widthByPercentClass, expanderParentClass] )

    if item.title
      .input__title
        +titleBar( item.title, item.state )

    .input__element
      case item.type
        when 'dropdown'
          +inputDropdown( item )
        when 'date-picker'
          +inputDatePicker( item )
        when 'subscription'
          +inputSubscription( item )
        default
          +inputDefault( item )
