include /components/title-bar/title-bar.pug

include __subscription/input__subscription.pug
include __date-picker/input__date-picker.pug
include __dropdown/input__dropdown.pug

mixin input( item )
  -
    const definePlaceholder = function definePlaceholdersByValue( type, dropdownType, placeholder ) {
      let placeholderValue = '';

      switch ( type ) {
        case 'date-picker': {
          placeholderValue = 'ДД.ММ.ГГГГ';
          break;
        }
        case 'subscription': {
          placeholderValue = 'Email';
          break;
        }
        case 'dropdown': {
          placeholderValue = dropdownType === 'guests' ? 'Cколько гостей' : 'Cколько ванных и спален' ;
          break;
        }
        default: {
          placeholderValue = placeholder;
        }
      }
      return placeholderValue;
    }

  - const dropdown =  item.dropdown || {}
  - const archetype = item.type
  - const title =     item.title

  - const id = item.id
  - const disabled = item.disabled
  - const checked = dropdown.expanded
  - const type = archetype === 'subscription' ? 'email' : 'text'
  - const readonly = archetype === 'dropdown' || archetype === 'date-picker'
  - const placeholder = definePlaceholder( archetype, dropdown.type, item.placeholder )

  - const expanderParentClass = readonly ? 'expander__parent' : ''
  - const datePickerClasses = archetype === 'date-picker' ? 'expander adp-frame' : ''
  - const dropdownClasses =   archetype === 'dropdown' ? 'expander dropdown' : ''

  - const frameClasses =  [ datePickerClasses, dropdownClasses ]

  .input( class=expanderParentClass )
    if title
      .input__title
        +titleBar( title, item.state )
    .input__element
      input.input__frame(
        class=       frameClasses
        id=          id
        type=        type
        placeholder= placeholder
        disabled=    disabled
        checked=     checked
        readonly=    readonly
      )
      case archetype
        when 'dropdown'
          +inputDropdown( item )
        when 'date-picker'
          +inputDatePicker( item )
        when 'subscription'
          +inputSubscription( id )
