@import "@variables";
@import "../../styles/gradient-fill-entities.scss";

.input {
  &__text-bar {
    margin-bottom: 5px;
  }

  &__data-bar {
    width: inherit;
    position: relative;
  }

  &__frame {
    border-radius: 4px;
    border-color: rgba(31, 32, 65, .25);
    height: 44px;
    padding: 0px 15px 0px 15px;
    width: inherit;
    background-color: transparent;

    &::placeholder {
      color: rgba(31, 32, 65, .25);
      font-size: 16px;
      line-height: 18px;
    }

    &:hover,
    &:focus-within {
      & + span {
        opacity: .75;
      }

      &::placeholder {
        color: rgba(31, 32, 65, .75);
      }

      &:placeholder-shown {
        border-color: rgba(31, 32, 65, .5);
      }
    }
  }
}

.elem__border {
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  outline: none;
}

.dropdown-marker {
  cursor: pointer;
}

.dropdown-is-opened {
  border-radius: 4px 4px 0px 0px !important;
  border-bottom-color: transparent;

  &::placeholder {
    color: rgba(31, 32, 65, .75);
  }

  &:placeholder-shown {
    border-color: rgba(31, 32, 65, .5);
  }
}

.input-icons {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: -1;
}

.icon-style {
  &_dropdown {
    color: $valhalla;
    opacity: .5;
  }

  &_subscription {
    @extend .gradient-fill;
  }
}
