@import "@variables";
@import "../../styles/gradient-fill-entities.scss";

.input {
  &__title {
    margin-bottom: 5px;
  }

  &__element {
    position: relative;
    width: inherit;
  }

  &__frame {
    margin: 0;
    border-radius: 4px;
    border-color: rgba($valhalla, .25);
    height: 44px;
    padding: 0px 15px 0px 15px;
    width: inherit;
    background-color: transparent;

    &::placeholder {
      color: rgba($valhalla, .25);
      font-size: 16px;
      line-height: 18px;
    }

    &:hover,
    &:disabled,
    &:focus-within,
    &[checked] {
      &::placeholder {
        color: rgba($valhalla, .75);
      }

      &:placeholder-shown {
        border-color: rgba($valhalla, .5);
      }
    }

    &.expander[checked] {
      border-radius:4px 4px 0px 0px;
    }
  }

  &__icon {
    &_dropdown {
      color: $valhalla;
      opacity: .5;
    }
  
    &_subscription {
      @extend .gradient-fill;
    }
  
    &_dropdown,
    &_subscription {
      position: absolute;
      bottom: 10px;
      right: 10px;
      
      & > .material-icons {
        cursor: pointer;
      }
    }
  }

  &__frame.expander {
    cursor: pointer;
  }
}

.dropdown,
.input__frame {
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  outline: none;
}
