@import "@variables";

.ui-kit {
  &__body {
    width: 1440px;
  }

  &__header {
    height: 140px;
    width: 100%;
  }

  &__main {
    padding: 0px 158px 0px 150px;
  }
  
  &__footer {
    position: absolute;
    height: 145px;
    bottom: 0px;
  }
}

.bg-color {
  &_white {
    background-color: white;
  }

  &_whisper {
    background-color: $whisper;
  }
}

.frozen {
  pointer-events: none;
}
