include /components/favicons-bulk/favicons-bulk.pug
include /components/logo/logo.pug

head 
  block head
  +faviconsBulk()

block body
  header.ui-kit__header
    block header
      +logo({ type: "monochrome" })

  main.ui-kit__main
    block main

  footer.ui-kit__footer
