@import "@variables";

.ui-kit {
  &__body {
    margin: auto;
    width: 1440px;
    font-family: Montserrat, Quicksand, sans-serif;
    user-select: none;
    background-color: white;
  }

  &__header {
    height: 140px;
    width: 100%;
  }

  &__main {
    display: grid;
    padding: 0px 158px 0px 150px; 
    justify-content: space-between;
  }
  
  &__footer {
    height: 145px;
  }
}

.elem__width {
  &_100 {
    width: 320px
  }

  &_75 {
    width: 266px;
  }

  &_50 {
    width: 150px
  }

  &_30 {
    width: 99px;
  }
}

.bgcolor_whisper {
  background-color: $whisper;
}

.frozen {
  pointer-events: none;
}
