include /components/logo/logo.pug

head 
  block head

block body
  header.ui-kit__header
    block header
      +logo({ type: "monochrome" })

  main.ui-kit__main
    block main

  footer.ui-kit__footer
