@import "@variables";

.radio-button {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
  align-items: center;
  margin-right: 20px;

  & input {
    position: relative;
    display: flex;
    margin: 0;
    width: 20px;
    height: 20px;
    appearance: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    border-color: $valhalla;
    opacity: .25;

    &:checked {
      align-items: center;
      justify-content: center;
      opacity: 1;
      border-color: $perfume;

      &:after {
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: $primary-gradient;
        content: '';
      }

      & + label {
        opacity: .75
      }
    }
  }

  & label {
    font-size: 14px;
    color: $valhalla;
    opacity: .5;
  }
}

.radio-buttons__array {
  display: flex;
}