mixin radioButtons( items=[] )
  each item in items
    - const iconAdditionalClass = item.pressed ? 'gradient-fill' : ''
    - const buttonChecked = item.pressed ? true : false

    .radio-button
        input( type='radio' name='sex' id=item.id checked=buttonChecked )
        label( for=item.id ) #{item.label}