@import "@variables";

.radio-button {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
  margin-right: 20px;

  & input {
    display: flex;
    margin: 0;
    position: relative;
    width: 20px;
    height: 20px;
    appearance: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    border-color: $valhalla;
    opacity: .25;

    &:checked {
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;
      border-color: $perfume;

        &:after {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        position: absolute;
        background: $primary-gradient;
        content: '';
      }

      & + label {
        opacity: .7
      }
    }
  }

  & label {
    color: $valhalla;
    opacity: .5;
  }
}

.radio-buttons__array {
  display: flex;
}