@import "@entities/__gradient-filled/entities__gradient-filled.scss";
@import "@variables";
@import "../button.scss";


.like-button {
  position: relative;
  display: flex;
  align-items: center;

  &__elem {
    @extend %oval-button_frame;

    &:checked + .like-button__text {
      opacity: 1;

      & > .like-button__text-icon > label {
        @extend %gradient-fill;
      }

      & > .like-button__text-counter > label {
        color: $perfume;
      }
    }
  }

  &__text {
    position: absolute;
    display: flex;
    opacity: .25;

    &-icon,
    &-counter {
      & > label {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        line-height: 12px;
        cursor: pointer;
      }
    }

    &-icon {
      display: inherit;
      justify-content: center;
      width: 20px;
    }
  }

  &__line-array {
    grid-gap: 10px;
  }
}
