@import "@variables";
@import "../button.scss";
@import "../../../styles/gradient-fill-entities.scss";

.like-button {
  display: flex;
  position: relative;
  align-items: center;

  &__elem {
    @extend .oval-button_frame;

    &:checked + .like-button__text {
      opacity: 1;

      & > .like-button__text_icon > label {
        @extend .gradient-fill;
      }

      & > .like-button__text_counter > label {
        color: $perfume;
      }
    }
  }

  &__text {
    display: inherit;
    position: absolute;
    opacity: .25;
    left: 1px;

    &_icon,
    &_counter {
      & > label {
        display: inherit;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        line-height: 12px;
        cursor: pointer;
      }
    }

    &_icon {
      display: inherit;
      justify-content: center;
      
      & > label {
        width: 20px;
      }
    }
  }

  &__line-array {
    grid-gap: 10px;
  }
}
