include /components/logo/logo.pug
include /components/input/input.pug
include /components/title-bar/title-bar.pug
include /components/pagination/pagination.pug
include /components/bullet-list/bullet-list.pug
include /components/comment-bar/comment-bar.pug
include /components/range-slider/range-slider.pug
include /components/checkbox-list/checkbox-list.pug
include /components/advantage-bar/advantage-bar.pug

include /components/button/__like/button__like.pug
include /components/button/__radio/button__radio.pug
include /components/button/__toggle/button__toggle.pug
include /components/button/__checkbox/button__checkbox.pug
include /components/button/__star-rate/button__star-rate.pug
include /components/button/__mean-oval/button__mean-oval.pug

head 
  title UI KIT / Form Elements

body.ui-kit__body.bg-color_white
  header.ui-kit__header
    +logo({ type: "monochrome" })
  main.ui-kit__main
    .form-elements__wrap.wrap_top
      .form-elements__column.column_left
        .form-elements__block.block__inputs_common
          +input({
            title: "text field",
            state: "default",
            placeholder: "Email"
          })
          +input({
            title: "text field",
            state: "hover / focus",
            placeholder: "This is pretty awesome",
            disabled: true
          })
          +input({
            id: "uik-fe__common_01",
            type: "dropdown",
            title: "dropdown",
            placeholder: "Сколько гостей",
            dropdown: {
              expanded: false,
              options: [
                "взрослые",
                "дети",
                "младенцы"
              ]
            }
          })
          +input({
            title: "masked text field",
            placeholder: "ДД.ММ.ГГГГ"
          })
        .form-elements__block.block__dropdowns_date-twins
          .form-elements__element
            .input__line-array.twins-grid-line
              +input({
                id: "uik-fe__date-twins_arrival",
                type: "date-picker",
                title: "date dropdown",
                placeholder: "ДД.ММ.ГГГГ",
                widthbypercent: 47,
              })
              +input({
                id: "uik-fe__date-twins_departure",
                type: "date-picker",
                title: "date dropdown",
                placeholder: "19.08.2019",
                widthbypercent: 47,
              })
        .form-elements__block.block__dropdowns_date-semi-wide
          +input({
            id: "uik-fe__semi-wide_01",
            type: "date-picker",
            title: "filter date dropdown",
            placeholder: "19 авг - 23 авг",
            widthbypercent: 83,
          })
        .form-elements__block.block__inputs_subscribe
          +input({
            type: "subscription",
            title: "subscription text field",
            placeholder: "Email",
            widthbypercent: 83,
          })
      .form-elements__column.column_center
        .form-elements__block.block__checkbox-buttons
          .form-elements__element
            +titleBar("checkbox buttons")
            .checkbox-button__array
              +checkboxButtons({
                groupname: "uik-fe__checkbox-allows", 
                checkboxes: [
                  { pressed: false, label: "Можно курить" },
                  { pressed: true,  label: "Можно с питомцами" },
                  { pressed: true,  label: "Можно пригласить гостей (до 10 человек)" }
                ]
              })
        .form-elements__block.block__radio-buttons
          .form-elements__element
            +titleBar("radio buttons")
            +radioButtons([
              { id: "uik-fe_male", label: "Мужчина", pressed: true },
              { id: "uik-fe_female", label: "Женщина" }
            ])
        .form-elements__block.block__toggle-buttons
          .form-elements__element
            +titleBar("toggle")
            .toggle-button__array
              +toggleButton({ id: "uik-fe_toggle_1", label: "Получать спецпредложения", pressed: true })
              +toggleButton({ id: "uik-fe_toggle_2", label: "Получать спецпредложения", pressed: false })
        .form-elements__block.block__like-buttons
          .form-elements__element
            +titleBar("like button")
            .like-button__line-array.twins-grid-line
              +likeButtons([
                { groupname: "uik-fe-like", pressed: false, likecount: 2 },
                { groupname: "uik-fe-like", pressed: true, likecount: 12 }
              ])
        .form-elements__block.block__star-rate
          .form-elements__element
            +titleBar("rate button")
            .star-rate__line-array.twins-grid-line
              +starRateButton(4)
              +starRateButton(5)
      .form-elements__column.column_right
        .form-elements__block.block__range-slider
          +rangeSlider({
            title: "range slider",
            id: "uik-fe-range-slider",
            widthbypercent: 83,
          })
        .form-elements__block.block__mean-oval-buttons
          .form-elements__element
            +titleBar("buttons")
            .mean-oval-buttons
              .mean-oval-buttons__array
                +meanOvalButtons({
                  groupname: "uik-fe__mob-mid",
                  buttons: [
                    { type: "contained" },
                    { type: "contained", disabled: true },
                    { type: "outlined"  },
                    { type: "outlined", disabled: true }
                  ]
                })
              .mean-oval-buttons__array
                +meanOvalButtons({
                  groupname: "uik-fe__mob-small",
                  buttons: [
                    { type: "text" },
                    { type: "text", disabled: true }
                  ]
                })
              .mean-oval-buttons__unit
                +meanOvalButtons({
                  groupname: "uik-fe__mob-huge",
                  buttons: [
                    {
                      type: "contained",
                      text: "перейти к оплате",
                      iconname: "arrow_forward",
                      widthbypercent: 100
                    }
                  ]
                })
        .form-elements__block.block__pagination
          .form-elements__element
            +titleBar("pagination")
            .pagination__elem
              +paginationElem()
    .form-elements__wrap.wrap_upper-middle
      .form-elements__column.column_left
        .form-elements__block.block__dropdowns_action
          +input({
            id: "uik-fe__action_01",
            type: "dropdown",
            title: "dropdown",
            state: "default",
            placeholder: "2 спальни, 2 кровати...",
            widthbypercent: 83,
            dropdown: {
              options: [
                "спальни",
                "кровати",
                "ванные комнаты"
              ]
            }
          })
          +input({
            id: "uik-fe__action_02",
            type: "dropdown",
            title: "dropdown",
            state: "expanded",
            placeholder: "2 спальни, 2 кровати...",
            widthbypercent: 83,
            dropdown: {
              expanded: true,
              options: [
                "спальни",
                "кровати",
                "ванные комнаты"
              ]
            }
          })
      .form-elements__column.column_center
        .form-elements__block.block__dropdowns_no-guests
          +input({
            id: "uik-fe__no-guests_01",
            type: "dropdown",
            title: "dropdown",
            placeholder: "Сколько гостей",
            dropdown: {
              expanded: true,
              options: [
                "взрослые",
                "дети",
                "младенцы"
              ]
            }
          })
      .form-elements__column.column_right
        .form-elements__block.block__dropdowns_guests
          +input({
            id: "uik-fe__guests_01",
            type: "dropdown",
            title: "dropdown",
            placeholder: "3 гостя",
            dropdown: {
              expanded: true,
              options: [
                "взрослые",
                "дети",
                "младенцы"
              ]
            }
          })
    .form-elements__wrap.wrap_lower-middle
      .form-elements__column.column_left
        .form-elements__block.block__checkbox-list_default
          +checkboxList({
            title: "expandable checkbox list",
            groupname: "uik-fe__checkbox-list_default",
            expanded: false,
            disabled: true,
            checkboxes: [
              { pressed: false, label: "Завтрак" },
              { pressed: true,  label: "Письменный стол" },
              { pressed: true,  label: "Стул для кормления" },
              { pressed: true,  label: "Кроватка" },
              { pressed: false, label: "Телевизор" },
              { pressed: false, label: "Шампунь" }
            ]
          })
        .form-elements__block.block__checkbox-list_ejected
          +checkboxList({
            title: "expandable checkbox list",
            groupname: "uik-fe__checkbox-list_ejected",
            expanded: true,
            checkboxes: [
              { pressed: false, label: "Завтрак" },
              { pressed: true,  label: "Письменный стол" },
              { pressed: true,  label: "Стул для кормления" },
              { pressed: true,  label: "Кроватка" },
              { pressed: false, label: "Телевизор" },
              { pressed: false, label: "Шампунь" }
            ]
          })
      .form-elements__column.column_center
        .form-elements__block.block__rich-checkbox-buttons
          .form-elements__element
            +titleBar("rich checkbox buttons")
            .checkbox-buttons__array
              +checkboxButtons({
                richmode: true,
                groupname: "uik-fe_rich-cbb",
                checkboxes: [
                  {
                    title: "Широкий коридор",
                    info: "Ширина коридоров в номере \nне менее 91 см."
                  },
                  {
                    title: "Помощник для инвалидов",
                    info: "На 1 этаже вас встретит специалист  и проводит до номера."
                  }
                ]
              })
      .form-elements__column.column_right
        .form-elements__block.block__bullet-list
          .form-elements__element
            +titleBar("bullet list")
            .bullet-list__elem
              +bulletList([
                "Нельзя с питомцами",
                "Без вечеринок и мероприятий",
                "Время прибытия — после 13:00, а выезд до 12:00"
              ])
    .form-elements__wrap.wrap_bottom
      .form-elements__column.column_left
        .form-elements__block.block__advantage-bars
          +advantageBars([
            {
              iconname: "insert_emoticon",
              title: "Комфорт",
              brief: "Шумопоглощающие стены"
            },
            {
              iconname: "location_city",
              title: "Удобство",
              brief: "Окно в каждой из спален"
            }
          ])
      .form-elements__column.column_center-right
        .form-elements__block.block__comment-bar
          +commentBar([
            {
              name: "Мурад Сарафанов",
              daysago: "5 дней назад",
              avatarname: "murad",
              text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
              likebtn: {
                groupname: "uik-fe-comment",
                pressed: true,
                likecount: 12
              }
            }
          ]) 
  footer.ui-kit__footer
