@import "@variables";
@import "@styles/__form/styles__form.scss";

.wrap_top {
  margin-top: 3px;
}

.form-elements {
  &__wrap {
    display: flex;
    align-items: flex-start;
    padding-bottom: 80px;
  }

  &__column,
  &__block,
  &__element {
    display: grid;
  }

  &__column {
    width: 320px;
    grid-gap: 40px;
  }

  &__block {
    grid-gap: 20px;
    justify-content: start;
  }

  &__element {
    grid-gap: 16px;
  }
}

.wrap {
  &_upper-middle {
    height: 240px;
  }

  &_lower-middle {
    height: 312px;
  }
}

.column {
  &_center,
  &_center-right {
    margin-left: 126px;
  }

  &_center {
    margin-right: 72px;
  }
}

.element__width {
  &_100 {
    width: 320px;
  }
  &_83 {
    width: 266px;
  }
  &_81 {
    width: 260px;
  }
  &_61 {
    width: 196px;
  }
  &_47 { 
    width: 150px;
  }
  &_30 {
    width: 99px;
  }
  &_27 {
    width: 87px;
  }
}

.twins-grid-line {
  @extend %styles__form_twins-gridline;
}
