extends ../website.pug


block head 
  title TOXIN HOTEL / SEARCH


block header
  include /components/header/header.pug
  include /components/modal-window/modal-window.pug

  +header({ authorized: false, filtering: true })
  .modal-window__filtration.modal-window_invisible
    +modalWindow({
      id: "ejectable-button_filtration-1",
      filters: true
    })


block main
  include /components/pagination/pagination.pug
  include /components/card/__room-sample/card__room-sample.pug
  include /components/card/__filter/card__filter.pug

  main.website__main.fullscreen-bottom-border
    .search-page
      .search-page__input-parameters-block
        .search-page__input-parameters
          +cardFilter({ id: "search-page__card-filter"})
        .search-page__shift-activator
      .search-page__filtered-items
        .search-page__filtered-items-title
          span.search-page__filtered-items-title_text Номера, которые мы для вас подобрали
        .search-page__filtered-items-grid
          include ./website__search-samples.pug
          each sample in samples
            +cardRoomSample( sample )
        .search-page__filtered-items-pagination
          +paginationElem()
