.search-page {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &__input-parameters,
  &__filtered-items-grid {
    display: grid;
  }

  &__input-parameters {
    grid-gap: 30px;
    margin-right: 30px;
  }

  &__filtered-items {
    &-title {
      margin-bottom: 21px;
    }

    &-grid {
      grid-template-columns: repeat(3, auto);
      grid-gap: 20px 12px;
    }

    &-pagination {
      display: flex;
      justify-content: center;
      margin-top: 41px;
      margin-bottom: 70px;
    }
  }
}
