@import "@variables";

$sideWindowWidth: 306px;

$piquetRoomGridColumnsThree: 1116px;
$piquetRoomGridColumnsFour: 1694px;

$piquetSearchPageInputParameters: 1412px;

$inputParametersPadding: 20px;

@media only screen and (max-width: $piquetRoomGridColumnsTwo) {
  .search-page {
    &__filtered-items-title {
      margin-bottom: 30px;

      &::before {
        content: "Номера для вас";
      }

      &_text {
        display: none;
        text-align: center;
      }
    }

    &__input-parameters-block {
      display: none;
    }
  }
}

@media only screen and (min-width: $piquetRoomGridColumnsTwo) {
  .search-page {
    &__filtered-items {
      &-grid {
        grid-template-columns: repeat(2, auto);
      }

      &-title {
        margin-bottom: 21px;
      }
    }

    &__input-parameters-block {
      display: flex;
    }
  }
}

@media only screen and (min-width: $piquetRoomGridColumnsThree) {
  .search-page__filtered-items-grid {
    grid-template-columns: repeat(3, auto);
  }
}

@media only screen and (max-width: $piquetSearchPageInputParameters) {
  .search-page {
    &__input-parameters {
      &-block {
        background-color: $white;
        position: absolute;
        left: -$sideWindowWidth;
        top: 140px;
        height: 1030px;
        box-shadow: $boxShadowAlternative;
        padding-block: 0;
        padding-left: $inputParametersPadding;
        margin-right: 0;
        z-index: 20;
        transition: transform .5s ease;
        border-start-end-radius: 20px;
        border-end-end-radius: 20px;
      }
    }

    &__filtered-items {
      &-title {
        text-align: center;
      }

      &-grid {
        justify-items: center;
      }
    }
  }

  .window_shifted {
    transform: translateX($sideWindowWidth);
  }
}

@media only screen and (min-width: $piquetSearchPageInputParameters) {
  .search-page {
    &__input-parameters-block {
      margin-right: 30px;
      padding-block: 20px;
    }

    &__shift-activator {
      display: none;
    }
  }
}

@media only screen and (min-width: $piquetRoomGridColumnsFour) {
  .search-page__filtered-items {
    &-grid {
      grid-template-columns: repeat(4, auto);
    }
  }
}

.search-page {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-block: 30px;

  &__shift-activator {
    margin-left: $inputParametersPadding;
    width: 20px;
    background-color: $whisper;
    border-start-end-radius: 20px;
    border-end-end-radius: 20px;
    cursor: pointer;
  }

  &__filtered-items {
    &-grid {
      display: grid;
      grid-gap: 20px 12px;
    }

    &-pagination {
      display: flex;
      justify-content: center;
      margin-block: 40px;
    }
  }
}
