extends ../website.pug

block head 
  title TOXIN HOTEL / SEARCH

block main
  - 
    const roomsData = [
      {
        room: 888,
        luxe: true,
        price: 9990,
        count: {
          rate: 5,
          reviews: 145,
          pictures: 3
        }
      },
      {
        room: 840,
        luxe: false,
        price: 9990,
        count: {
          rate: 4,
          reviews: 65
        }
      },
      {
        room: 980,
        luxe: true,
        price: 8500,
        count: {
          rate: 3,
          reviews: 35
        }
      },
      {
        room: 856,
        luxe: false,
        price: 7300,
        count: {
          rate: 5,
          reviews: 19
        }
      },
      {
        room: 740,
        luxe: false,
        price: 6000,
        count: {
          rate: 4,
          reviews: 44
        }
      },
      {
        room: 982,
        luxe: false,
        price: 5800,
        count: {
          rate: 3,
          reviews: 56
        }
      },
      {
        room: 678,
        luxe: false,
        price: 5500,
        count: {
          rate: 5,
          reviews: 45
        }
      },
      {
        room: 450,
        luxe: false,
        price: 5300,
        count: {
          rate: 4,
          reviews: 39
        }
      },
      {
        room: 350,
        luxe: false,
        price: 5000,
        count: {
          rate: 3,
          reviews: 77
        }
      },
      {
        room: 666,
        luxe: false,
        price: 5000,
        count: {
          rate: 5,
          reviews: 25
        }
      },
      {
        room: 444,
        luxe: false,
        price: 5000,
        count: {
          rate: 3,
          reviews: 15
        }
      },
      {
        room: 352,
        luxe: false,
        price: 5000,
        count: {
          rate: 3,
          reviews: 55
        }
      }
    ]

  include /components/card/__room-sample/card__room-sample.pug
  include /components/button/__checkbox/button__checkbox.pug
  include /components/checkbox-list/checkbox-list.pug
  include /components/range-slider/range-slider.pug
  include /components/pagination/pagination.pug
  include /components/title-bar/title-bar.pug
  include /components/input/input.pug

  main.website__main
    .search-page.universal-container
      .search-page__input-parameters
        .search-page__date
          +input({
            id: "search-by__date",
            type: "date-picker",
            title: "дата пребывания в отеле",
            placeholder: "19 авг - 23 авг",
            widthbypercent: 83
          })
        .search-page__guests
          +input({
            id: "search-by__guests",
            type: "dropdown",
            title: "гости",
            placeholder: "3 гостя, 1 младенец",
            widthbypercent: 83,
            dropdown: {
              expanded: false,
              options: [
                "взрослые",
                "дети",
                "младенцы"
              ]
            }
          })
        .search-page__slider
          +rangeSlider({
            title: "диапазон цены",
            id: "search-by__range-prices",
            widthbypercent: 83
          })
          span.search-page__slider-note
        .search-page__checkboxes
          +titleBar("правила дома")
          .checkbox-button__array
            +checkboxButtons({
              groupname: "search-by__checkbox-allows", 
              checkboxes: [
                { pressed: false, label: "Можно курить" },
                { pressed: true,  label: "Можно с питомцами" },
                { pressed: true,  label: "Можно пригласить гостей (до 10 человек)" }
              ]
            })
        .search-page__rich-checkboxes
          +titleBar("доступность")
          .checkbox-buttons__array
            +checkboxButtons({
              richmode: true,
              groupname: "search-by__accessibility",
              checkboxes: [
                {
                  title: "Широкий коридор",
                  info: "Ширина коридоров в номере \nне менее 91 см."
                },
                {
                  title: "Помощник для инвалидов",
                  info: "На 1 этаже вас встретит специалист  и проводит до номера."
                }
              ]
            })
        .search-page__sleeping-stuff
          +input({
            id: "search-by__baths",
            type: "dropdown",
            title: "удобства номера",
            placeholder: "2 спальни, 2 кровати...",
            widthbypercent: 83,
            dropdown: {
              options: [
                "спальни",
                "кровати",
                "ванные комнаты"
              ]
            }
          })
        .search-page__extra-service
          +checkboxList({
            title: "expandable checkbox list",
            groupname: "uik-fe__checkbox-list_default",
            expanded: false,
            checkboxes: [
              { pressed: false, label: "Завтрак" },
              { pressed: true,  label: "Письменный стол" },
              { pressed: true,  label: "Стул для кормления" },
              { pressed: true,  label: "Кроватка" },
              { pressed: false, label: "Телевизор" },
              { pressed: false, label: "Шампунь" }
            ]
          })
      .search-page__filtered-items
        each room in roomsData
          +cardRoomSample( room )