- 
  const navBarUnits = [
    {
      vertical: true,
      title: "навигация",
      links: [
        { name: "О нас" },
        { name: "Новости" },
        { name: "Служба поддержки" },
        { name: "Услуги" }
      ]
    },
    {
      vertical: true,
      title: "О нас",
      links: [
        { name: "О сервисе" },
        { name: "Наша команда" },
        { name: "Вакансии" },
        { name: "Инвесторы" }
      ]
    },
    {
      vertical: true,
      title: "Служба поддержки",
      links: [
        { name: "Соглашения" },
        { name: "Сообщества" },
        { name: "Связь с нами" }
      ]
    }
  ]