.js-expander {
  &__icon {
    transition: transform .4s ease;
  }

  &_active {
    .js-expander {
      &__aim {
        visibility: visible !important;
      }
      &__icon {
        transform: rotateX(0.5turn);
      }
    }
  }
}
