@import "@variables";

.toggle-button {
  display: flex;

  &__elem {
    display: inherit;
    align-items: center;

    & > .dot {
      margin-inline: 3px;
      display: inherit;
      fill: $valhalla;
    }
  }

  &__label {
    font-size: 14px;
    line-height: 24px;
    opacity: .75;
  }
}

.toggle-buttons__array {
  display: grid;
  grid-row: 2;
  grid-gap: 10px;
}
