@import "@variables";

.toggle-button {
  display: flex;

  &__elem {
    display: inherit;
    align-items: center;

    & > .dot {
      display: inherit;
      margin-inline: 3px;
      font-size: 12px;
      fill: $valhalla;
      -webkit-background-clip: unset;
      background-clip: unset;
    }
  }

  &__label {
    font-size: 14px;
    line-height: 24px;
    opacity: .75;
  }
}

.toggle-buttons__array {
  display: grid;
  grid-row: 2;
  grid-gap: 10px;
}
