@import "@variables";

.headers-n-footers {
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: center;

  & > .footer {
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  }

  &__footer_default,
  &__header_authorized,
  &__header_non-authorized {
    width: 100%;
  }
  
  &__footer_mobile {
    width: 768px;
  }
}
