extends /pages/ui-kit/ui-kit.pug


block head 
  title UI KIT / Headers & Footers


block append body
  body.ui-kit__body_no-padding.bg-color_whisper


block main
  include /components/header/header.pug
  include /components/footer/footer.pug

  .headers-n-footers
    +header({ authorized: false })
    +header({ authorized: true })
    +footer({ type: 'default' })
    +footer({ type: 'mobile' })
    