include ../../../components/logo/logo.pug
include ../../../components/header/header.pug
include ../../../components/footer/footer.pug

body.ui-kit__body.bg-color_whisper
  header.ui-kit__header
    +logo({ type: "monochrome" })
  main
    .headers-n-footers
      +header({ authorized: false })
      +header({ authorized: true })
      +footer({ type: 'default' })
      +footer({ type: 'mobile' })
  footer.ui-kit__footer
    