%elem__width {
  &_100 {
    width: 320px
  }
  &_83 {
    width: 266px;
  }
  &_81 {
    width: 260px;
  }
  &_61 {
    width: 196px;
  }
  &_47 { 
    width: 150px
  }
  &_30 {
    width: 99px;
  }
  &_27 {
    width: 87px;
  }
}

%styles__form {
  &_twins-gridline {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
  }
  
  &_fullscreen-bottom-border {
    border-bottom: 1px solid rgba($valhalla, .25);
  }
}
