$valhalla: #1F2041;
$whisper: #E5E5E5;

$perfume: #BC9CFF;
$portage: #8BA4F9;

$perfume-a: rgba($perfume, .25);
$portage-a: rgba($portage, .25);

$perfume-b: rgba($perfume, .5);
$portage-b: rgba($portage, .5);

$silver-tree:    #6FCF97;
$turquoise-blue: #66D2EA;

$cream-brulee: #FFE39C;
$mandys-pink:  #FFBA9C;

$suva-grey: #909090;
$port-gore: #3D4975;

$white: #FFF;
$black: #000;

@function defineGradient( $primary, $secondary ) {
  @return linear-gradient(180deg, $primary 0%, $secondary 100%);
}

$primary-gradient:    defineGradient( $perfume, $portage );
$primary-gradient-a:  defineGradient( $perfume-a, $portage-a );
$primary-gradient-b:  defineGradient( $perfume-b, $portage-b );
$secondary-gradient:  defineGradient( $silver-tree, $turquoise-blue );
$tertiary-gradient:   defineGradient( $cream-brulee, $mandys-pink );
$quaternary-gradient: defineGradient( $suva-grey , $port-gore );

$wideFramesWidthMax:  1600px;
$wideFramesWidthMin:  1100px;
$wideFramesWidthBase: 1440px;

@function calcRelativeFontSize( $value ) {
  @return #{$value / 16}rem;
}

$boxShadowDefault: 0 0 25px rgba($black, .2);
$boxShadowAlternative: 0 10px 20px rgba($valhalla, .05)
