$valhalla: #1F2041;

$perfume: #BC9CFF;
$portage: #8BA4F9;

$silver-tree:    #6FCF97;
$turquoise-blue: #66D2EA;

$cream-brulee: #FFE39C;
$mandys-pink:  #FFBA9C;

$suva-grey: #909090;
$port-gore: #3D4975;

$whisper: #E5E5E5;
$white:   #FFF;

@function defineGradient( $primary, $secondary ) {
  @return linear-gradient(180deg, $primary 0%, $secondary 100%);
}

$primary-gradient:    defineGradient( $perfume, $portage );
$secondary-gradient:  defineGradient( $silver-tree, $turquoise-blue );
$tertiary-gradient:   defineGradient( $cream-brulee, $mandys-pink );
$quaternary-gradient: defineGradient( $suva-grey , $port-gore );

$wideFramesWidthMax:  1600px;
$wideFramesWidthMin:  1160px;
$wideFramesWidthBase: 1440px;
