include /components/input/input.pug
include /components/button/__mean-oval/button__mean-oval.pug

mixin cardFindRoom()
  form.card-find-room.card-style_default( action="website__search.html" )
    .card-find-room__container-title Найдём номера под ваши пожелания

    .card-find-room__container-date-pickers
      .card-find-room__date-pickers-row
        +input({
          id: "card-find-room__date-picker_arrival",
          type: "date-picker",
          title: "прибытие",
          hierarchy: "master",
        })
        +input({
          id: "card-find-room__date-picker_departure",
          type: "date-picker",
          title: "выезд",
          hierarchy: "slave",
        })

    .card-find-room__container-guests-dropdown
      +input({
        type: "dropdown",
        id: "card-find-room__guests",
        title: "гости",
        placeholder: "Сколько гостей",
        dropdown: {
          type: "guests"
        }
      })

    .card-find-room__container-submit-button.card-footer
      +meanOvalButtons({
        groupname: "card-find-room__submit-button",
        buttons: [{
          type: "submit",
          mode: "contained",
          text: "подобрать номер",
          iconname: "arrow_forward",
          widthpx: 320
        }]
      })
