extends /pages/website/website.pug

block head 
  title 404 / NOT FOUND

block header
  include /components/header/header.pug

  header.website__header
    +header({ authorized: false })

block main
  - const titleText = 'ошибка 404'
  - const noteText = 'страница не найдена'

  main.website__main.fullscreen-bottom-border
    .no-page.custom-font-style_body-plain
      span.no-page__not-found_title( data-text=titleText ) #{titleText}
      span.no-page__not-found_note( data-text=noteText ) #{noteText}
