extends /pages/website/website.pug

block head 
  title 404 / Not Found

block main
  - const titleText = 'ну спасибо'
  - const noteText = 'вот вы всё и поломали'

  main.website__main.fullscreen-bottom-border
    .no-page.universal-container.custom-font-style_body-plain
      span.no-page__not-found_title( data-text=titleText ) #{titleText}
      span.no-page__not-found_note( data-text=noteText ) #{noteText}
