@import "@variables";

.color-sample {
  display: flex;

  &__container {
    display: grid;
    grid-row: 7;
    grid-gap: 20px;
    width: 282px;
    margin: 0;
  }

  &__element {
    width: 70px;
    height: 70px;
    border-radius: 6px;
  }

  &__description {
    display: flex;
    margin-left: 40px;
    line-height: 28px;
    flex-direction: column;
    justify-content: center;
  }

  &__color-hexcode {
    font-weight: normal;
  }
}
