mixin colorSamples( items=[] )
  .color-items__holder
    each item in items
      .color-item
        .color-item__sample( style=`background-color: ${item.hexcolor}; opacity: ${item.opacity}%;` )
        .color-item__description
          span.color-item__title #{item.title}
          span.color-item__hex-color #{item.hexcolor}