include /components/input/input.pug
include /components/button/__mean-oval/button__mean-oval.pug
include /components/material-icon-cell/material-icon-cell.pug

mixin cardRoomBooking()
  .room-booking.card-style_default
    .room-booking__container_title-complex
      .room-booking__title-complex
        .room-booking__title
          span.room-booking__title_prefix.custom-font-style_body-plain #{'№ '}
          span.room-booking__title_room-number.custom-font-style_h1 888
          span.room-booking__title_luxe-mark ЛЮКС
        .room-booking__price.custom-font-style_body-plain
          span.room-booking__price_value 9 990
          span.room-booking__price_symbol ₽ 
          span.room-booking__price_addition в сутки

    .room-booking__container_date-pickers
      .room-booking__date-pickers-row.twins-grid-line
        +input({
          id: "room-booking__date-picker_arrival",
          type: "date-picker",
          title: "прибытие",
          hierarchy: "master",
          widthbypercent: 47,
        })
        +input({
          id: "room-booking__date-picker_departure",
          type: "date-picker",
          title: "выезд",
          hierarchy: "slave",
          widthbypercent: 47,
          dates: "2019-08-19, 2019-08-23"
        })

    .room-booking__container_guests-input
      +input({
        id: "room-booking__guests",
        type: "dropdown",
        title: "гости",
        placeholder: "Сколько гостей",
        dropdown: {
          type: "guests",
          values: [ 2, 1, 0 ]
        }
      })

    .room-booking__container_calc.custom-font-style_body
      .room-booking__calc-initial-price
        .room-booking__sub-container_price
          span 9 990₽ x 4 суток
          span 39 960₽

      .room-booking__calc-discount
        .room-booking__sub-container_price
          .room-booking__sub-container_fee
            span Сбор за услуги: скидка 2 179₽
            +materialIcon("info_outline")
          span 0₽

      .room-booking__calc-fee
        .room-booking__sub-container_price
          .room-booking__sub-container_fee
            span Сбор за дополнительные услуги
            +materialIcon("info_outline")
          span 300₽

      .room-booking__calc-summary.custom-font-style_h2
        .room-booking__sub-container_price
          span Итого
          span.room-booking__calc-summary_dotted-border
          span 38 081₽

    .room-booking__button_submit
      +meanOvalButtons({
        groupname: "room-booking__button_submit",
        buttons: [
          {
            type: "contained",
            text: "Забронировать",
            iconname: "arrow_forward",
            widthbypercent: 100
          }
        ]
      })
