@import "@variables";

.room-booking {
  
  &__card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__title {
    &_prefix,
    &_room-class {
      font-weight: bold;
    }

    &_room-class {
      font-size: 12px;
      line-height: 15px;
      margin-left: 8px;
      color: $perfume;
    }
  }

  &__price {
    opacity: .5;

    &_value,
    &_symbol {
      font-weight: bold;
    }
  }

  &__inputs {
    &_date-picker {
      grid-gap: 20px;
    }
  }

  &__calc {
    &_price-basic,
    &_price-off,
    &_fee {
      & > .room-booking__sub-container {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 320px;

        & > .room-booking__nano-container {
          display: inherit;
          align-items: flex-start;
          width: 234px;

          & > .material-icons {
            font-size: 20px;
            color: rgba($valhalla, .25)
          }
        }
      }
    }

    &_summary > .room-booking__sub-container {
      display: flex;
      justify-content: space-between;

      & > span {
        white-space: nowrap;
      }

      & > .room-booking__sub-container_divider {
        position: relative;
        bottom: 5px;
        width: 100%;
        border-bottom: 1px dotted rgba($valhalla, .25);
      }
    }

    &_summary {
      margin-top: 20px;
    }
  }
}
