@import "@variables";

.room-booking {

  &__card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__title {
    &_prefix,
    &_room-class {
      font-weight: bold;
    }

    &_room-class {
      font-size: 12px;
      line-height: 15px;
      margin-left: 8px;
      color: $perfume;
    }
  }

  &__price {
    opacity: .5;

    &_value,
    &_symbol {
      font-weight: bold;
    }
  }

  &__inputs {
    &_date-picker {
      grid-gap: 20px;
    }
  }

  &__calc {
    &_price-basic,
    &_price-off,
    &_fee {
      & > .room-booking__sub-container {
        display: flex;
        justify-content: space-between;

        & > .room-booking__nano-container {
          display: inherit;
          align-items: center;

          & > .material-icons {
            font-size: 20px;
            color: rgba($valhalla, .25)
          }
        }
      }
    }

    &_price-basic {

    }

    &_price-off {

    }

    &_fee {

    }

    &_summary {
      margin-top: 20px;
    }
  }
}