@import "@variables";

.room-booking {
  &__price,
  &__title,
  &__title-complex {
    display: flex;
    align-items: baseline;
    white-space: pre;
  }

  &__title-complex {
    justify-content: space-between;
  }

  &__title {
    &_prefix,
    &_luxe-mark {
      font-weight: bold;
    }

    &_luxe-mark {
      font-size: 12px;
      line-height: 15px;
      color: $perfume;
      margin-left: 1px;
    }

    &_room-number {
      margin-right: 7px;
    }
  }

  &__price {
    opacity: .5;

    &_value,
    &_symbol {
      font-weight: bold;
    }

    &_addition {
      font-size: 12px;
    }
  }

  &__date-pickers-row {
    grid-gap: 20px;
  }

  &__container_calc {
    box-sizing: border-box;
  }

  &__sub-container {
    &_price,
    &_fee {
      display: flex;
      justify-content: space-between;
    }

    &_price {
      position: relative;
      width: 320px;
    }

    &_fee {
      align-items: flex-start;
      width: 240px;

      & > .material-icons {
        color: rgba($valhalla, .25)
      }
    }
  }

  &__calc {
    &-fee,
    &-discount,
    &-initial-price {
      line-height: 18px;
    }

    &-discount,
    &-initial-price {
      margin-bottom: 6px;
    }

    &-summary {
      white-space: nowrap;
      margin-top: 20px;

      &_dotted-border {
        position: relative;
        bottom: 3px;
        width: 100%;
        border-bottom: 1px dotted rgba($valhalla, .25);
      }
    }
  }
}
