include /components/input/input.pug
include /components/button/__mean-oval/button__mean-oval.pug
include /components/material-icon-cell/material-icon-cell.pug

mixin cardRoomBooking()
  form.card-room-booking.card-style_default
    .card-room-booking__container_title-complex
      .card-room-booking__title-complex
        .card-room-booking__title
          span.card-room-booking__title_prefix #{'№ '}
          span.card-room-booking__title_room-number 888
          span.card-room-booking__title_luxe-mark ЛЮКС
        .card-room-booking__price
          span.card-room-booking__price_value 9 990
          span.card-room-booking__price_symbol ₽ 
          span.card-room-booking__price_addition в сутки

    .card-room-booking__container_date-pickers
      .card-room-booking__date-pickers-row
        +input({
          id: "room-booking__date-picker_arrival",
          type: "date-picker",
          title: "прибытие",
          hierarchy: "master"
        })
        +input({
          id: "room-booking__date-picker_departure",
          type: "date-picker",
          title: "выезд",
          hierarchy: "slave",
          dates: "2019-08-19, 2019-08-23"
        })

    .card-room-booking__container_guests-input
      +input({
        id: "room-booking__guests",
        type: "dropdown",
        title: "гости",
        placeholder: "Сколько гостей",
        dropdown: {
          type: "guests",
          values: [ 2, 1, 0 ]
        }
      })

    .card-room-booking__container_calc
      .card-room-booking__calc-initial-price
        .card-room-booking__sub-container_price
          span 9 990₽ x 4 суток
          span 39 960₽

      .card-room-booking__calc-discount
        .card-room-booking__sub-container_price
          .card-room-booking__sub-container_fee
            span Сбор за услуги: скидка 2 179₽
            +materialIcon("info_outline")
          span 0₽

      .card-room-booking__calc-fee
        .card-room-booking__sub-container_price
          .card-room-booking__sub-container_fee
            span Сбор за дополнительные услуги
            +materialIcon("info_outline")
          span 300₽

      .card-room-booking__calc-summary
        .card-room-booking__sub-container_price
          span Итого
          span.card-room-booking__calc-summary_dotted-border
          span 38 081₽

    .card-room-booking__button_submit
      +meanOvalButtons({
        groupname: "card-room-booking__button_submit",
        buttons: [{
          type: "submit",
          mode: "contained",
          text: "Забронировать",
          iconname: "arrow_forward"
        }]
      })
