include /components/card/__room-sample/card__room-sample.pug
include /components/button/__checkbox/button__checkbox.pug
include /components/checkbox-list/checkbox-list.pug
include /components/range-slider/range-slider.pug
include /components/pagination/pagination.pug
include /components/title-bar/title-bar.pug
include /components/input/input.pug

mixin cardFilter( item )
  form.card-filter
    .card-filter__date-picker
      +input({
        id: item.id + "_date",
        type: "date-picker",
        title: "дата пребывания в отеле",
        widthbypercent: 83,
        dates: "2019-08-19, 2019-08-23"
      })
    .card-filter__guests-dropdown
      +input({
        id: item.id + "_guests",
        type: "dropdown",
        title: "гости",
        widthbypercent: 83,
        dropdown: {
          type: "guests",
          values: [ 2, 0, 1 ],
          expanded: false,
        }
      })
    .card-filter__slider
      .card-filter__slider-frame
        +rangeSlider({
          id: item.id + "_slider",
          title: "диапазон цен",
          widthbypercent: 83
        })
      span.card-filter__slider-note.custom-font-style_micro-note Стоимость за сутки пребывания в номере
    .card-filter__checkboxes.form-elements__element
      +titleBar("правила дома")
      .checkbox-button__array
        +checkboxButtons({
          groupname: "search-by__checkbox-allows", 
          checkboxes: [
            { pressed: false, label: "Можно курить" },
            { pressed: true,  label: "Можно с питомцами" },
            { pressed: true,  label: "Можно пригласить гостей (до 10 человек)" }
          ]
        })
    .card-filter__rich-checkboxes.form-elements__element
      +titleBar("доступность")
      .checkbox-buttons__array
        +checkboxButtons({
          richmode: true,
          groupname: "search-by__accessibility",
          checkboxes: [
            {
              title: "Широкий коридор",
              info: "Ширина коридоров в номере \nне менее 91 см."
            },
            {
              title: "Помощник для инвалидов",
              info: "На 1 этаже вас встретит специалист  и проводит до номера."
            }
          ]
        })
    .card-filter__facilities-dropdown
      +input({
        id: item.id + "_facilities",
        type: "dropdown",
        title: "удобства номера",
        widthbypercent: 83,
        dropdown: {
          type: "facilities",
          values: [ 2, 2, 0 ]
        }
      })
    .card-filter__extra-services-list
      +checkboxList({
        title: "дополнительные удобства",
        groupname: item.id + "checkbox-list",
        expanded: false,
        checkboxes: [
          { pressed: false, label: "Завтрак" },
          { pressed: true,  label: "Письменный стол" },
          { pressed: true,  label: "Стул для кормления" },
          { pressed: true,  label: "Кроватка" },
          { pressed: false, label: "Телевизор" },
          { pressed: false, label: "Шампунь" }
        ]
      })
