mixin typeItems(items=[])
  .type-items__holder
    each item in items
      .type-item
        - var chosenTag = item.tagname === "Body" ? "p" : item.tagname.toLowerCase()
          #{chosenTag}.type-item__tagname #{item.tagname}
          #{chosenTag}.type-item__note #{item.note}