extends /pages/website/website.pug


include /components/card/__login/card__login.pug


block head
  title TOXIN HOTEL / LOGIN

block main
  main.website__main.bg-pic__login-n-registration
    .login-page
      +cardLogin()
