@import "@variables";

.range-slider {
  box-sizing: border-box;

  &__container {
    display: grid;
    align-items: end;
    height: 6px;
    margin-top: 23px;
  }
}

.range-slider__elem.ui-slider {
  position: relative;
  height: 6px;
  text-align: left;
  background: white;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 3px;
  box-sizing: border-box;

  & > .ui-slider-range,
  & > .ui-slider-handle {
    position: absolute;
    background: $secondary-gradient;
  }

  & > .ui-slider-handle {
    width: 12px;
    height: 12px;
    top: -6px;
    margin-left: -.6em;
    touch-action: none;
    appearance: none;
    outline: none;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 2;
  }

  & > .ui-slider-range {
    display: block;
    height: 6px;
    top: -1px;
    border: none;
    z-index: 1;
  }
}
