include /components/title-bar/title-bar.pug

mixin rangeSlider( item )
  - const stateId = item.id + '_state'
  - const sliderWidth = `width:${ item.widthpx || 320 }px`

  .range-slider__wrap( style=sliderWidth )
    +titleBar( item.title, true, stateId )
    .range-slider__container
      .range-slider__elem( id=item.id )
