include /components/favicons-bulk/favicons-bulk.pug
include /components/footer/footer.pug
include /components/modal-window/modal-window.pug

head
  block head
  +faviconsBulk()
  meta( name="viewport" content="width=380, initial-scale=1" )

body.website__body
  header.website__header
    block header
    .website__modal-windows
      .modal-window_navigation
        +modalWindow({
          title: "Навигация",
          links: [
            { name: "О нас" },
            { name: "Новости" },
            { name: "Служба поддержки" },
            { name: "Услуги" },
            { name: "Соглашения" },
          ]
        })
      .modal-window_authorization
        +modalWindow({
          title: "Авторизация",
          links: [
            { 
              name: "Войти",
              href: "website__login.html" 
            },
            {
              name: "Зарегестрироваться",
              href: "website__registration.html"
            }
          ]
        })

  block main

  footer.website__footer
    .website__footer_default
      +footer({ type: "default" })
    .website__footer_mobile 
      +footer({ type: "mobile" })
