include /components/favicons-bulk/favicons-bulk.pug
include /components/footer/footer.pug
include /components/header/header.pug

head
  block head
  +faviconsBulk()
  meta( name="viewport" content="width=380, initial-scale=1" )

body.website__body
  header.website__header
    +header({ id: "website-header", authorized: false })

  block main

  footer.website__footer
    .website__footer_default
      +footer({ type: "default" })
    .website__footer_mobile 
      +footer({ type: "mobile" })
