@import "@variables";

.website {
  &__main,
  &__header,
  &__footer {
    width: 100%;
  }

  &__main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}

.bg-pic {
  &__landing,
  &__login-n-registration {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
  }

  &__landing {
    min-height: 830px;
    background-image: url("/src/assets/images/raster/background/background__landing-1.jpg");
  }

  &__login-n-registration {
    min-height: 690px;
    background-image: url("/src/assets/images/raster/background/background__login-n-registration.jpg");
  }
}
