@import "@variables";

@media screen and (max-width: 1160px) {
  .website__footer_default {
    display: none;
  }
  .header {
    display: none;
  }
}

@media screen and (min-width: 1161px) {
  .website__footer_mobile {
    display: none;
  }
}

.website {
  &__main {
    position: relative;
  }

  &__header,
  &__footer {
    width: 100%;
  }
}

.bg-pic {
  &__landing,
  &__login-n-registration {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
  }

  &__landing {
    padding-top: 70px;
    padding-inline: 140px;
    min-height: 830px;
    background-image: url("/src/assets/images/raster/background/background__landing.png");
  }

  &__login-n-registration {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 690px;
    background-image: url("/src/assets/images/raster/background/background__login-n-registration.png");
  }
}
