@import "@variables";

.ui-kit {
  &__body {
    margin: auto;
    font-family: Montserrat, Quicksand, sans-serif;
    user-select: none;
  }

  &__main {
    display: grid;
    padding: 0px 158px 0px 150px; 
    justify-content: space-between;
  }
  
  &__footer {
    height: 145px;
  }
}

.indention {
  &_double {
    padding-top: 20px;
  }

  &_wrap {
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-gap: 72px;
  }
}

.form-elements {
  &__column {
    width: 320px;

    &_center {
      padding-left: 44px;
    }
  }
}

.twinline-gap {
  &_own {
    display: flex;
  }

  &_longest {
    display: flex;
    justify-content: space-between;
  }

}

.frozen {
  pointer-events: none;
}

.gradient-fill {
  background: $primary-gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color:transparent;
}

.additional-padding {
  padding-top: 11px;
}

.micro-button {
  &_wrap {
    display: flex;
    height: 20px;
    width: 40px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    margin-right: 10px;
    box-sizing: border-box;
    cursor: pointer;
  }

  &_released {
    border-color: $valhalla;
    color: $valhalla;
    opacity: .25;
  }

  &_pressed {
    border-color: $perfume;
    color: $perfume;
    opacity: 1;
  }

  &__label > label {
    font-size: 10px;
  }
}
