@import '@variables';

$optionButtonSize: 30px;

.input {
  &__dropdown {
    display: grid;
    grid-gap: 7px;
    position: absolute;
    top: 43px;
    width: inherit;
    background-color: $white;
    border-color: rgba($valhalla, 0.5);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 10px 20px rgba($valhalla, 0.05);
    padding: 7px 7px 7px 15px;
    visibility: hidden;
    z-index: 20;
  }

  &__option,
  &__clear-n-submit {
    display: flex;
    justify-content: space-between;
  }

  &__option {
    align-items: center;

    &_name {
      text-transform: uppercase;
    }

    &_counter,
    &_buttons,
    &_button-dec,
    &_button-inc {
      display: flex;
    }

    &_buttons {
      justify-content: space-between;
      width: 92px;
    }

    &_counter,
    &_button-dec,
    &_button-inc {
      justify-content: center;
      align-items: center;
      height: $optionButtonSize;
      box-sizing: border-box;
    }

    &_button-dec,
    &_button-inc {
      font-size: 18px;
      width: $optionButtonSize;
      color: rgba($valhalla, 0.5);
      border: 1px solid rgba($valhalla, 0.25);
      border-radius: 50%;
      font-weight: normal;
      cursor: pointer;
    }
  }

  &__clear-n-submit {
    margin-block: 13px 5px;
  }
}
