mixin logotype( type )
  case type 
    when 'monochrome'
      img.logotype( src="/src/assets/images/vector/logo-monochrome-s48.svg" )
    when 'colorful'
      img.logotype( src="/src/assets/images/vector/logo-colorful-s40.svg" )