.logotype {
  display: flex;

  &__image {
    &_monochrome {
      position: fixed;
      top: 30px;
      left: 30px;
    }

    &_colorful {
      display: flex;
    }
  }

  &__text {
    margin-left: 13px;
    display: flex;
  } 
}
