mixin logotype( type )
  .logotype
    case type 
      when 'monochrome'
        .logotype__image_monochrome
          img( src=require("../assets/images/vector/logo-monochrome-s48.svg") )
      when 'colorful'
        .logotype__image_colorful
          img( src=require("../assets/images/vector/logo-colorful-s40.svg") )
        .logotype__text
          img( src=require("../assets/images/vector/logo-text-part.svg") )
        