.logotype {
  position: relative;
  display: flex;
  margin: 0;

  &__button {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  &_monochrome {
    position: fixed;
    top: 30px;
    left: 30px;
    width: 48px;
    height: 48px;

    & > .logotype__button {
      box-sizing: border-box;
      border-radius: 50%;
      width: inherit;
      height: inherit;
    }
  }

  &_colorful {
    width: 107px;

    & > .logotype__button {
      width: 100%;
      height: 100%;

      & + .logotype__image {
        margin-right: 13px;
      }
    }
  }
}
