@import "../../../../node_modules/jquery-ui/themes/base/datepicker.css";

@import "../../components.scss";
@import "../../material-icon-cell/material-icon-cell.scss";
@import "@variables";

.input__date-picker {
  position: absolute;
  top: 50px;
  padding: 20px 19px;
  visibility: hidden;
  border: 1px solid rgba($valhalla, .5);
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba($valhalla, 0.05);
  z-index: 20;
}

.ui-datepicker {
  width: 100%;
  padding: 0;
  
  &-header {
    position: relative;
    margin-bottom: 30px;
    padding: 0;
  }

  &-prev,
  &-next {
    position: absolute;
    top: 2px;
    width: 24px;
    height: 24px;

    &-hover {
      opacity: .75;
    }
  }

  &-prev .ui-icon {
    @extend .material-icons;
    left: 0px;
    content: "arrow_back";
  }

  &-next .ui-icon {
    @extend .material-icons;
    right: 0px;
    content: "arrow_forward";
  }

  &-title {
    @extend .custom-font-style_h2;
  }

  &-calendar {
    color: $perfume;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    & > thead,
    & > tbody {
      font-size: 12px;

      & > tr {
        display: grid;
        grid-template-columns: repeat(7, auto);
        
        & > td,
        & > th {
          padding: 0;

          & > a,
          & > span {
            display: grid;
            height: 40px;
            width: 40px;
            justify-content: center;
            align-content: center;
            padding: 0;
          }
        }
      }
    }

    & > tbody {
      & .ui-datepicker-today,
      & .ui-datepicker-current-day {
        & > a {
          color: white;
          font-weight: bold;
          pointer-events: none;
        }
      }
      
      & a {
        border-radius: 50%;
        color: rgba($valhalla, .5);
        text-decoration: none;
        transition: background .5s ease;

        &:hover {
          background: rgba($perfume, .25);
        }
      }



      & span {
        color: rgba($valhalla, .25);
      }
    }
  }

  &-other-month {

  }

  &-unselectable {
    
  }

  &-today,
  &-current-day {
    & > a {
      
    }
  }

  &-current-day > a {
    background: $primary-gradient;
  }

  &-today > a {
    background: $secondary-gradient;
  }
}
