include /components/material-icon-cell/material-icon-cell.pug
include /components/button/__mean-oval/button__mean-oval.pug

mixin inputDatePicker( item )
  input.input__frame.expander.adp( class=item.hierarchy id=item.id placeholder="ДД.ММ.ГГГГ" readonly )
  .input__icon_expand
    +materialIcon('expand_more', item.id )
  if ( item.hierarchy !== 'slave' )
    .input__date-picker.expander__aim( id=`dp-${item.id}` )
      .date-picker__element
      .date-picker__buttons
        +meanOvalButtons({
          groupname: `${item.id}-small`,
          buttons: [
            { type: "text", text: "очистить" },
            { type: "text", text: "применить" }
          ]
        })
