include /components/input/input.pug
include /components/button/__mean-oval/button__mean-oval.pug
include /components/button/__radio/button__radio.pug
include /components/button/__toggle/button__toggle.pug

mixin cardLogin()
  .card-login.card-style_default
    .card-login__title
      span.custom-font-style_h1 Войти
    .card-login__input_login-data
      +input({ placeholder: "Email", type: "Email" })
      +input({ placeholder: "Пароль" })
    form.card-login__authorization-button( action="website__landing.html" )
      +meanOvalButtons({
        groupname: "login__authorization-button",
        buttons: [
          {
            type: "contained",
            text: "войти",
            iconname: "arrow_forward",
            widthbypercent: 100
          }
        ]
      })
    form.card-login__registration-section( action="website__registration.html" )
      .card-login__registration-section-container.card-footer
        span.custom-font-style_body Нет аккаунта на Toxin?
        +meanOvalButtons({
          groupname: "login__button_registration",
          buttons: [{
            type: "submit",
            mode: "outlined",
            text: "создать" 
          }]
        })
