.checkbox-list {
  &__title-button {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    &_button {
      position: absolute;
      left: -10px;
      bottom: -4px;
      appearance: none;
      width: 256px;
      height: 28px;
      cursor: pointer;

      &:checked ~ .checkbox-list__title-button_icon {
        animation: arrow-rotation 0.5s ease both;
      }

      &:not(:checked) ~ .checkbox-list__title-button_icon {
        animation: arrow-rotation-back 0.5s ease both;
      }
    }

    &_icon {
      position: relative;
      margin-left: 30px;
      opacity: .5;
    }
  }
}

@keyframes arrow-rotation {
  0%   { transform: rotateX(0turn) }
  100% { transform: rotateX(0.5turn) }
}

@keyframes arrow-rotation-back {
  0%   { transform: rotateX(0.5turn) }
  100% { transform: rotateX(1turn) }
}
