.checkbox-list {
  &__title-button {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    &_hidden-input {
      position: absolute;
      left: -10px;
      bottom: -4px;
      appearance: none;
      width: 256px;
      height: 28px;
      cursor: pointer;

      &:checked {
        transform: rotateX(0.5turn);
      }
    }

    &_icon {
      position: relative;
      margin-left: 30px;
      opacity: .5;
    }
  }

  &_inserted {
    display: none;
  }
}

.icon-flipped {
  transform: scaleY(-1);
}
