include ../title-bar/title-bar.pug
include ../buttons/checkbox/checkbox.pug
include ../material-icon-cell/material-icon-cell.pug

mixin checkboxList( item )
  .checkbox-list
    .checkbox-list__title-button
      .checkbox-list__title-button_text
        +titleBar( item.title )
      .checkbox-list__title-button_icon
        +materialIcon('expand_more')
    .checkbox-list__checkbox-items-array
      +checkboxButtons({
        groupname: item.groupname,
        checkboxes: item.checkboxes
      })
