.checkbox-list {
  &,
  &__items {
    width: 266px;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;

    &_button {
      display: none;
    }

    &_icon {
      margin-left: 40px;
      opacity: .5;
      z-index: 10;
    }
  }

  &__items {
    position: absolute;
    visibility: hidden;
    margin-top: 18px;
    background-color: #FFF;
    z-index: 11;
  }
}
