mixin colorItems(colors=[])
  .color-items__holder
    each color in colors
      .color-item
        .color__sample&attributes({
          class: [color.opaque, "background-color__" + color.name]
        })
        .color__description
          p.color__pseudoname #{color.pseudoname}
          p.color__hex-code #{color.hexcode}

