mixin colorItems(colors=[])
  .color-items__holder
    each color in colors
      .color-item
        .color-item__sample&attributes({
          class: [color.opaque, "background-color_" + color.name]
        })
        .color-item__description
          p.color-item__description__pseudoname #{color.pseudoname}
          p.color-item__description__hex-code #{color.hexcode}
