doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
  body
    .color-sample__holder
      .color-sample.background-color__valhalla.opaque-100
      .color-sample.background-color__valhalla.opaque-75
      .color-sample.background-color__valhalla.opaque-50
      .color-sample.background-color__valhalla.opaque-25
      .color-sample.background-color__valhalla.opaque-5
      .color-sample.background-color__perfume.opaque-100
      .color-sample.background-color__silvertree.opaque-100
