- let youAreUsingPug = true;
- let pageTitle = 'AAA RABOTAET';

doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    h1.background-color__valhalla.opaque-50 Pug - node template engine
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p Get on it!
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features. ewdfsafdfdffsdfdfsdfdn/
