doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
  body
    .color-items__holder
      .color-item
        .color__sample.background-color__valhalla.opaque-100
        .color__description
          p.color__name
          p.color__hexadecimal-code
      .color-item
        .color__sample.background-color__valhalla.opaque-75
        .color__description
          p.color__name
          p.color__hexadecimal-code
      .color-item
        .color__sample.background-color__valhalla.opaque-50
        .color__description
          p.color__name
          p.color__hexadecimal-code
      .color-item
        .color__sample.background-color__valhalla.opaque-25
        .color__description
          p.color__name
          p.color__hexadecimal-code
      .color-item
        .color__sample.background-color__valhalla.opaque-5
        .color__description
          p.color__name
          p.color__hexadecimal-code
      .color-item
        .color__sample.background-color__perfume.opaque-100
        .color__description
          p.color__name
          p.color__hexadecimal-code
      .color-item
        .color__sample.background-color__silvertree.opaque-100
        .color__description
          p.color__name
          p.color__hexadecimal-code
