mixin logotype()
  svg(width="200px", height="230px", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
    circle/(cx="100", cy="100", r="100", fill="#000")
    circle/(cx="100", cy="100", r="95", fill="#ff0")