include ../../components/header/__ui-kit/header__ui-kit.pug
include ../../components/navigation-bar/navigation-bar.pug

body.ui-kit__body
  header.ui-kit__header
    +headerUI()
  main.ui-kit__main
    .index-links 
      +navigationBar({
        vertical: true,
        title: "ui kit pages",
        links: [
          { name: "cards",             href: "ui-kit__cards.html" },
          { name: "colors & type",     href: "ui-kit__colors-n-type.html" },
          { name: "form elements",     href: "ui-kit__form-elements.html" },
          { name: "headers & footers", href: "ui-kit__headers-n-footers.html" }
        ]
      })
  footer.ui-kit__footer