.unit {
  fill: none;
  stroke-width: 4;
  border: 1px solid #1F2041;
}

.unit:nth-child(1) {
  stroke: #86cfa3;
  stroke-dasharray: 90 360;
}

.unit:nth-child(2) {
  stroke: #000;
  stroke-dasharray: 90 360;
  stroke-dashoffset: -90;
}

.unit:nth-child(3) {
  stroke: #CCC;
  stroke-dasharray: 180 360;
  stroke-dashoffset: -180;
}