extends /pages/website/website.pug

block head 
  title TOXIN HOTEL / ROOM 

block main
  include /components/card/__room-booking/card__room-booking.pug
  include /components/advantage-bar/advantage-bar.pug
  include /components/votes-chart/votes-chart.pug
  include /components/comment-bar/comment-bar.pug
  include /components/bullet-list/bullet-list.pug
  
  main.website__main.fullscreen-bottom-border
    .room-page
      .room-page__section_interiors-footage
        .room-page__footage_left
          img.room-page__interior-pic_major( src=require(`/src/assets/images/raster/room/__original/room__original_888-1.png`) )
        .room-page__footage_right
          img.room-page__interior-pic_minor-top( src=require(`/src/assets/images/raster/room/__original/room__original_888-2.png`) )
          img.room-page__interior-pic_minor-bottom( src=require(`/src/assets/images/raster/room/__original/room__original_888-3.png`) )  
      .room-page__section_information.universal-container
        .room-page__sub-section_left
          .room-page__room-advantages
            .room-page__title
              span.custom-font-style_h2 Сведения о номере
            .block__advantage-bars
              +advantageBars([
                {
                  iconname: "insert_emoticon",
                  title: "Комфорт",
                  brief: "Шумопоглощающие стены"
                },
                {
                  iconname: "location_city",
                  title: "Удобство",
                  brief: "Окно в каждой из спален"
                },
                {
                  iconname: "whatshot",
                  title: "Уют",
                  brief: "Номер оснащён камином"
                }
              ])
          .room-page__visitors-impression-chart
            .room-page__title
              span.custom-font-style_h2 Впечатления от номера
            +votesChart({
              id: 'room-page-888',
              units: [
                { gradient: "quaternary", votes: 0,  legend: "Разочарован"        },
                { gradient: "primary",    votes: 260, legend: "Удовлетворительно" },
                { gradient: "secondary",  votes: 259, legend: "Хорошо"            },
                { gradient: "tertiary",   votes: 521, legend: "Великолепно"       }
              ]
            })
          .room-page__reviews
            .room-page__title
              span.custom-font-style_h2 Отзывы посетителей номера
            .block__advantage-bars
              +commentBar([
                {
                  name: "Мурад Сарафанов",
                  daysago: "5 дней назад",
                  avatarname: "murad",
                  text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
                  likebtn: {
                    groupname: "room-page__comment-first",
                    pressed: true,
                    likecount: 12
                  }
                },
                {
                  name: "Патрисия Стёклышкова",
                  daysago: "Неделю назад",
                  avatarname: "patricia",
                  text: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент",
                  likebtn: {
                    groupname: "room-page__comment-second",
                    pressed: false,
                    likecount: 3
                  }
                },
            ])
          .room-page__rules-list
            .room-page__title
              span.custom-font-style_h2 Правила
            +bulletList([
              "Нельзя с питомцами",
              "Без вечеринок и мероприятий",
              "Время прибытия — после 13:00, а выезд до 12:00"
            ])
          .room-page__cancellation-policy
            .room-page__title
              span.custom-font-style_h2 Отмена
            span.custom-font-style_body Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
        .room-page__sub-section_right
          +cardRoomBooking()
