include /components/votes-chart/votes-chart.pug

head 
  title = TOXIN HOTEL / ROOM 

body.ui-kit__body 
  header 

  main
    +votesChart([
      { gradient: "primary",    votes: 65,  legend: "Удовлетворительно" },
      { gradient: "secondary",  votes: 65,  legend: "Хорошо"            },
      { gradient: "tertiary",   votes: 130, legend: "Великолепно"       },
      { gradient: "quaternary", votes: 0,   legend: "Разочарован"       }
    ])

  footer 