@import "@variables";

@media only screen and (min-width: 380px) {
  .room-page {
    &__sub-section_left {
      grid-template-areas:
        "a"
        "b"
        "d"
        "f"
        "e";
    }
  }
}

@media only screen and (max-width: 860px) {
  .room-page {
    &__reviews {
      display: none;
    }

    &__reviews,
    &__rules-list,
    &__room-advantages,
    &__cancellation-policy,
    &__visitors-impression-chart {
      padding-left: 29px;
    }
  }
}

@media only screen and (min-width: 861px) {
  .room-page {
    &__sub-section_left {
      grid-template-areas:
        "a f"
        "b f"
        "c c"
        "d e";
    }
  }
}

@media only screen and (max-width: 1180px) {
  .room-page {
    padding-top: 14px;
  }
}

@media only screen and (min-width: 1231px) {
  .room-page {
    &__sub-section_left {
      grid-template-areas:
        "a b f"
        "c c f"
        "d e f";
    }
  }
}

$mainHeigth: 1424px;
$documentHeigth: 1937px;

.room-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: percentage( $mainHeigth / $documentHeigth );
  transition: padding .3s ease;

  &__section_interiors-footage {
    display: flex;
    height: percentage( 484px / $mainHeigth );
  }

  &__footage {
    &_left {
      width: percentage( 981px / $wideFramesWidthBase );
    }
    &_right {
      width: percentage( 459px / $wideFramesWidthBase );
    }
  }

  &__interior-pic {
    &_major,
    &_minor-top,
    &_minor-bottom {
      object-fit: cover;
      width: 100%;
    }

    &_major {
      height: 100%;
    }

    &_minor-top,
    &_minor-bottom {
      height: 50%;
    }
  }

  &__section_information {
    display: flex;
    justify-content: space-between;
    margin-block: 70px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__sub-section_left {
    display: grid;
    grid-gap: 30px;
  }

  &__room-advantages {
    grid-area: a;
  }
  &__visitors-impression-chart {
    grid-area: b;
  }
  &__reviews {
    grid-area: c;
  }
  &__rules-list {
    grid-area: d;
  }
  &__cancellation-policy {
    grid-area: e;
  }
  &__booking-card {
    grid-area: f;
  }

  &__cancellation-policy {
    width: 341px;
  }
}
