extends /pages/website/website.pug

block head 
  title = TOXIN HOTEL / ROOM 

block main 
  include /components/votes-chart/votes-chart.pug
  
  main.website__main
    .room-page.universal-container
      +votesChart([
        { gradient: "primary",    votes: 65,  legend: "Удовлетворительно" },
        { gradient: "secondary",  votes: 65,  legend: "Хорошо"            },
        { gradient: "tertiary",   votes: 130, legend: "Великолепно"       },
        { gradient: "quaternary", votes: 0,   legend: "Разочарован"       }
      ])
