@import "@variables";

$mainHeigth: 1424px;
$documentHeigth: 1937px;

.room-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: percentage( $mainHeigth / $documentHeigth );

  &__section_interiors-footage {
    display: flex;
    height: percentage( 484px / $mainHeigth );
  }

  &__footage {
    &_left {
      width: percentage( 981px / $wideFramesWidthBase );
    }
    &_right {
      width: percentage( 459px / $wideFramesWidthBase );
    }
  }

  &__interior-pic {
    &_major,
    &_minor-top,
    &_minor-bottom {
      object-fit: cover;
      width: 100%;
    }

    &_major {
      height: 100%;
    }

    &_minor-top,
    &_minor-bottom {
      height: 50%;
    }
  }


  &__section_information {
    display: flex;
    justify-content: space-between;
    margin-block: 70px;
    height: 800px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__sub-section_left {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
      "a b"
      "c c"
      "d e";
  }
  &__room-advantages {
    grid-area: a;
  }
  &__visitors-impression-chart {
    grid-area: b;
  }
  &__reviews {
    grid-area: c;
  }
  &__rules-list {
    grid-area: d;
  }
  &__cancellation-policy {
    grid-area: e;
  }

  &__cancellation-policy {
    width: 341px;
  }
}
