include /components/votes-chart/votes-chart.pug

head 
  title = TOXIN HOTEL / ROOM 

body.ui-kit__body 
  header 

  main
    +votesChart([
      { name: "primary",    votes: 65  },
      { name: "secondary",  votes: 65  },
      { name: "tertiary",   votes: 130 },
      { name: "quaternary", votes: 0   }
    ])

  footer 