@import "@variables";
@import "@styles/__text/styles__text.scss";

.checkbox-button {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
  align-items: start;
  margin-right: 20px;

  &__container {
    display: grid;
    justify-items: start;
    grid-template-rows: repeat(2, auto);
    grid-gap: 10px;
  }

  & * {
    cursor: pointer;
  }

  &__elem {
    position: relative;
    display: flex;
    margin: 0;
    width: 20px;
    height: 20px;
    appearance: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-color: rgba($valhalla, .25);

    &:checked {
      align-items: center;
      justify-content: center;
      border-color: $perfume;

      &:after {
        position: absolute;
        width: 10px;
        height: 12px;
        background-image: url("/src/assets/images/vector/checkmark_primary-gradient.svg");
        content: '';
      }
    }
  }

  &__common-label {
    @extend %styles__text_body-plain;
    width: 195px;
    opacity: .5;
  }

  &__rich-label {
    display: flex;
    flex-direction: column;
    width: 230px;
    
    &_title {
      @extend %styles__text_body;
      margin-block: 1px 7px;
      font-weight: bold;
    }

    &_info {
      @extend %styles__text_micro-note;
      white-space: pre-wrap;
    }
  }
}
