@import "@variables";

.micro-button {
  display: flex;
  height: 20px;
  width: 40px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: $valhalla;
  color: $valhalla;
  opacity: .25;
  margin-right: 10px;
  box-sizing: border-box;
  cursor: pointer;

  &_pressed {
    border-color: $perfume;
    color: $perfume;
    opacity: 1;
  }

  & span {
    font-size: 10px;
    user-select: none;
  }
}
