include like/like.pug
include toggle/toggle.pug

mixin microButton( items=[] )
  each item in items
    - const buttonTypeClass = item.type + '-mode';
    - const pressedButtonClass = item.pressed ? 'micro-button_pressed' : ''
    .micro-button( class=`${buttonTypeClass} ${pressedButtonClass}` )
      case item.type
        when 'like'
          +likeMode(item)
        when 'toggle'
          +toggleMode(item)
