.card-style {
  &_default {
    display: grid;
    grid-gap: 20px;
    padding: 39px 29px 29px 29px;
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(black, .2);
    border: 1px solid rgba(black, .12);
    border-radius: 4px;
    width: 380px;

    & > * {
      display: inherit;
      grid-gap: 10px;
    }
  }
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
