@import "@variables";

@media only screen and (max-width: 382px) {
  .card-style_default,
  .card-style_room-sample {
    border-radius: 0;
  }
}

@media only screen and (min-width: 381px) {
  .card-style_default,
  .card-style_room-sample {
    border-radius: 4px;
  }
}

.card-style {
  &_default,
  &_room-sample {
    background-color: $white;
    box-sizing: border-box;
  }

  &_default {
    display: grid;
    grid-gap: 20px;
    padding: 39px 29px 29px 29px;
    box-shadow: 0px 0px 25px rgba($black, .2);
    border: 1px solid rgba($black, .12);
    width: 380px;

    & > * {
      display: inherit;
      grid-gap: 10px;
    }
  }

  &_room-sample {
    box-shadow: 0px 10px 20px rgba($valhalla, 0.05);
  }
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
