include /components/navigation-bar/navigation-bar.pug
include /components/button/__circle/button__circle.pug

mixin modalWindow( item )
  .modal-window
    .modal-window__links
      if ( item.links )
        +navigationBar({
          title: item.title,
          links: item.links,
          vertical: true,
        })
    .modal-window__close-button
      +circleButton({
        id: item.id,
        icon: 'close'
      })