include /components/navigation-bar/navigation-bar.pug

mixin modalWindow( item )
  .modal-window
    .modal-window__links
      +navigationBar({
        title: item.title,
        links: item.links,
        vertical: true,
      })
    .modal-window__close-button