include /components/material-icon-cell/material-icon-cell.pug

mixin starRateButton( rating )
  - let num = 0
  
  .star-rate
    while num < 5
      if ++num <= rating
        +materialIcon('star')
      else 
        +materialIcon('star_border')
