@import "@variables";

$cardWidth: 270px;
$black: #000000;

.room-sample {
  background-color: $white;
  width: $cardWidth;

  &__container_top {
    position: relative;
    width: $cardWidth;
    height: 151px;
    border-radius: 4px 4px 0px 0px;
    background-color: $valhalla;
    overflow: hidden;

    & .material-icons {
      color: $white;
    }
  }

  &__image {
    display: flex;
    transform: translateX( -$cardWidth );
  }

  &__listing-indicator,
  &__arrow-scroller_left,
  &__arrow-scroller_right {
    position: absolute;
    display: flex;
  }

  &__arrows-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    opacity: 0;
    transition: opacity .5s ease;

    &:hover {
      opacity: 1;
    }
  }

  &__arrow-scroller {
    &_left,
    &_right {
      top: 0px;
      align-items: center;
      justify-content: center;
      height: inherit;
      width: 42px;
      background: linear-gradient(90deg, rgba($black, 0.5) 0%, rgba($black, 0) 99.99%, rgba($white, 0) 100%);
      
      &,
      & > .material-icons {
        cursor: pointer;
      }
    }

    &_right {
      transform: scaleX(-1);
      right: 0px;
    }
  }

  &__listing-indicator {
    justify-content: space-between;
    width: 41px;
    bottom: 15px;
    right: 15px;

    & > .material-icons {
      font-size: 8px;
    }
  }


  &__container_bottom {
    padding: 20px;
  }

  &__title-container,
  &__rate-n-reviews {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__title-container {
    margin-bottom: 8px;
  }

  &__rate-n-reviews {
    padding-top: 8px;
    border-top: 1px solid rgba($valhalla, .1);
  }

  &__reviews {
    color: rgba($valhalla, .5);
    font-size: 14px;
  }
}
