include /components/button/__star-rate/button__star-rate.pug
include /components/material-icon-cell/material-icon-cell.pug

mixin cardRoomSample( item )
  - const itemLeftID = item.roomnumber + '_left'
  - const itemRightID = item.roomnumber + '_right'

  - let index = 0
  - let suffixes = []

  while index < 4
    - suffixes[++index] = item.picturescount < index ? 'no-image' : item.roomnumber + '-' + index
    - suffixes[0] = suffixes[4]
    - suffixes[5] = suffixes[1]

  .room-sample.card-style_room-sample
    .room-sample__container_top
      .room-sample__image
        each suffix in suffixes
          img( src=require(`/src/assets/images/raster/room/__thumbnail/room__thumbnail_${ suffix }.png`) )

      .room-sample__arrow-scroller_left.scroller( id=itemLeftID )
        +materialIcon("chevron_left", itemLeftID)

      .room-sample__listing-indicator
        +materialIcon("circle")
        +materialIcon("trip_origin")
        +materialIcon("trip_origin")
        +materialIcon("trip_origin")

      .room-sample__arrow-scroller_right.scroller( id=itemRightID )
        +materialIcon("chevron_left", itemRightID)

    .room-sample__container_bottom
      .room-sample__title

      .room-sample__rate-n-rewievs
        +starRateButton( item.rate )
