mixin inputItems(inputs=[])
  each input in inputs
    .input
      .input__textbar
        p.textbar_title #{input.title}
        p.textbar_state #{input.state}
      .input__frame
        input(type=input.type placeholder=input.placeholder)