mixin inputItems(inputs=[])
  each input in inputs
    .input
      .input__textbar
        p.input__textbar_title #{input.title}
        if input.state 
          p.input__textbar_state #{input.state}
      .input__frame
        input(type=input.type placeholder=input.placeholder)