@import "@variables";

.input {
  &__textbar{
    &_title {
      color: $valhalla;
    }
    &_state {
      color: $valhalla;
      opacity: .5;
    }
  }

  &__frame input {
    border-color: $valhalla;
    opacity: .25;
    width: 320px;
    height: 44px;

    &:hover,
    &:focus-within {
      opacity: .5;
    }
  }
}