include ../components/color-sample/color-sample.pug
include ../components/type-sample/type-sample.pug
include ../components/header/header.pug

block content
  body.ui-kit__body
    +header()
    main.ui-kit__main
      +colorSamples([
        {hexcode: "#1F2041", opaque: "opaque_100", name: "valhalla", pseudoname: "Dark Shade 100%"},
        {hexcode: "#1F2041", opaque: "opaque_75", name: "valhalla", pseudoname: "Dark Shade 75%"},
        {hexcode: "#1F2041", opaque: "opaque_50", name: "valhalla", pseudoname: "Dark Shade 50%"},
        {hexcode: "#1F2041", opaque: "opaque_25", name: "valhalla", pseudoname: "Dark Shade 25%"},
        {hexcode: "#1F2041", opaque: "opaque_5", name: "valhalla", pseudoname: "Dark Shade 5%"},
        {hexcode: "#BC9CFF", opaque: "opaque_100", name: "perfume", pseudoname: "Purple"},
        {hexcode: "#6FCF97", opaque: "opaque_100", name: "silver-tree", pseudoname: "Green"},
      ])
      +typeSamples([
        {tagname: "H1", note: "This one is the sub-section or widget title"},
        {tagname: "H2", note: "Next one is the item title inside widgets"},
        {tagname: "H3", note: "THIS IS A LABEL OR CTA TEXT"},
        {tagname: "Body", note: "This is the body text which is used for most of the design, like paragraphs, lists, etc."},
      ])
    footer.ui-kit__footer
