include ../components/ui-kit/header/header.pug
include ../components/ui-kit/input/input.pug
include ../components/ui-kit/dropdown/dropdown.pug
include ../components/ui-kit/advantage-bar/advantage-bar.pug
include ../components/ui-kit/star-rate/star-rate.pug
include ../components/ui-kit/title-bar/title-bar.pug
include ../components/ui-kit/micro-buttons/micro-buttons.pug

head
  script(src="../src/components/ui-kit/dropdown/dropdown.js")
  script(src="../src/components/ui-kit/like/like.js")

body.ui-kit__body
  +header()
  main.ui-kit__main
    .form-elements__wrap_top.indention_wrap
      .form-elements__column.form-elements__column_left
        .indention_single
          +inputs([
            {
              title: "text field",
              state: "default",
              placeholder: "Email"
            },
            {
              title: "text field",
              state: "hover / focus",
              placeholder: "This is pretty awesome"
            },
            {
              title: "dropdown",
              placeholder: "Сколько гостей",
              dropdown: {
                options: [
                  "взрослые",
                  "дети",
                  "младенцы"
                ]
              }
            },
            {
              title: "masked text field",
              placeholder: "ДД.ММ.ГГГГ"
            }
          ])
        .indention_double.twinline-gap_longest
          +inputs([
            {
              title: "date dropdown",
              placeholder: "ДД.ММ.ГГГГ",
              keywidth: 50,
              dropdown: {
                options: [
                  ""
                ]
              }
            },
            {
              title: "date dropdown",
              placeholder: "19.08.2019",
              keywidth: 50,
              dropdown: {
                options: [
                  ""
                ]
              }
            }
          ])
        .indention_double
          +inputs([
            {
              title: "filter date dropdown",
              placeholder: "19 авг - 23 авг",
              keywidth: 75,
              dropdown: {
                options: [
                  ""
                ]
              }
            }
          ])
        .indention_double
          +inputs([
            {
              title: "subscription text field",
              placeholder: "Email",
              type: "email",
              subscription: true
            }
          ])
      .form-elements__column.form-elements__column_center
        .indention_double
          .block__toggle-buttons
            +titleBar("toggle button")
            .toggle-buttons__array

        .indention_double
          .block__like-buttons
            +titleBar("like button")
            .like-buttons__array.twinline-gap_own.additional-padding
              +microButtons([
                {
                  type: "like",
                  likecount: 2,
                  pressed: false
                },
                {
                  type: "like",
                  likecount: 12,
                  pressed: true
                }
              ])
        .indention_double
          .block__star-rate
            +titleBar("rate button")
            .star-rate__elem.twinline-gap_own.additional-padding
              +stars([4, 5])
      .form-elements__column.form-elements__column_right
    .form-elements__wrap_middle.indention_wrap
      .form-elements__column.form-elements__column_left
        .indention_single
          +inputs([
            {
              title: "dropdown",
              state: "default",
              placeholder: "2 спальни, 2 кровати...",
              keywidth: 75,
              dropdown: {
                options: [
                  ""
                ]
              }
            },
            {
              title: "dropdown",
              state: "expanded",
              placeholder: "2 спальни, 2 кровати...",
              keywidth: 75,
              dropdown: {
                options: [
                  "спальни",
                  "кровати",
                  "ванные комнаты"
                ]
              }
            }
          ])
      .form-elements__column.form-elements__column_center
      .form-elements__column.form-elements__column_right
    .form-elements__wrap_bottom.indention_wrap
      .form-elements__column.form-elements__column_left
        .indention_single
          +advantages([
            {
              icon: "insert_emoticon",
              title: "Комфорт",
              brief: "Шумопоглощающие стены"
            },
            {
              icon: "location_city",
              title: "Удобство",
              brief: "Окно в каждой из спален"
            }
          ])
      .form-elements__column.form-elements__column_center
      .form-elements__column.form-elements__column_right
  footer.ui-kit__footer
