.form-elements {
  &__wrap {
    padding-bottom: 80px;
    display: flex;
    align-items: flex-start;
  }

  &__column,
  &__block,
  &__element {
    display: grid;
  }

  &__column {
    width: 320px;
    grid-gap: 40px;
  }

  &__block {
    grid-gap: 20px;
  }

  &__element {
    grid-gap: 16px;
  }
}

.wrap {
  &_upper-middle {
    height: 240px;
  }

  &_lower-middle {
    height: 312px;
  }
}

.column {
  &_center,
  &_center-right {
    margin-left: 126px;
  }

  &_center {
    margin-right: 72px;
  }
}

.twinline-gap {
  &_own {
    display: flex;
  }

  &_longest {
    display: flex;
    justify-content: space-between;
  }
}
