include ../components/ui-kit/header/header.pug
include ../components/ui-kit/input/input.pug

block content
  body
    +headerItem()
    main
      +inputItems([
        {
          type: "email", 
          placeholder: "Email", 
          title: "TEXT FIELD",
          state: "DEFAULT"
        },
        {
          type: "text", 
          placeholder: "This is pretty awesome", 
          title: "TEXT FIELD", 
          state: "HOVER / FOCUS"
        }
      ])
      