include ../components/header/header.pug
include ../components/input/input.pug
include ../components/advantage-bar/advantage-bar.pug
include ../components/star-rate/star-rate.pug
include ../components/title-bar/title-bar.pug
include ../components/buttons/toggle/toggle.pug
include ../components/buttons/like/like.pug
include ../components/buttons/radio/radio.pug
include ../components/buttons/checkbox/checkbox.pug
include ../components/buttons/mean-oval/mean-oval.pug

body.ui-kit__body
  +header()
  main.ui-kit__main
    .form-elements__wrap_top.indentation_wrap
      .form-elements-column
        .block__inpuns_common.indentation_single
          +inputs([
            {
              title: "text field",
              state: "default",
              placeholder: "Email"
            },
            {
              title: "text field",
              state: "hover / focus",
              placeholder: "This is pretty awesome"
            },
            {
              title: "dropdown",
              placeholder: "Сколько гостей",
              dropdown: {
                options: [
                  "взрослые",
                  "дети",
                  "младенцы"
                ]
              }
            },
            {
              title: "masked text field",
              placeholder: "ДД.ММ.ГГГГ"
            }
          ])
        .block__dropdowns_date-twins.indentation_double.twinline-gap_longest
          +inputs([
            {
              title: "date dropdown",
              placeholder: "ДД.ММ.ГГГГ",
              keywidth: 50,
              dropdown: {
                options: [
                  ""
                ]
              }
            },
            {
              title: "date dropdown",
              placeholder: "19.08.2019",
              keywidth: 50,
              dropdown: {
                options: [
                  ""
                ]
              }
            }
          ])
        .block__dropdowns_date-semi-wide.indentation_double
          +inputs([
            {
              title: "filter date dropdown",
              placeholder: "19 авг - 23 авг",
              keywidth: 75,
              dropdown: {
                options: [
                  ""
                ]
              }
            }
          ])
        .block__inputs_subscribe.indentation_double
          +inputs([
            {
              title: "subscription text field",
              placeholder: "Email",
              type: "email",
              subscription: true
            }
          ])
      .form-elements-column.column_center
        .block__checkbox-buttons.indentation_single
          +titleBar("checkbox buttons")
          .checkbox-buttons__array.additional-padding
            +checkboxButtons([
              { groupname: "uik-fe_allows", pressed: false, label: "Можно курить" },
              { groupname: "uik-fe_allows", pressed: true, label: "Можно с питомцами" },
              { groupname: "uik-fe_allows", pressed: true, label: "Можно пригласить гостей (до 10 человек)" }
            ])
        .block__radio-buttons.indentation_double
          +titleBar("radio buttons")
          .radio-buttons__array.additional-padding 
            +radioButtons([
              { id: "uik-fe_male", label: "Мужчина", pressed: true },
              { id: "uik-fe_female", label: "Женщина" }
            ])
        .block__toggle-buttons.indentation_double
          +titleBar("toggle")
          .toggle-buttons__array.additional-padding
            +toggleButtons([
              { groupname: "uik-fe_toggles", label: "Получать спецпредложения", pressed: true },
              { groupname: "uik-fe_toggles", label: "Получать спецпредложения", pressed: false }
            ])
        .block__like-buttons.indentation_double
          +titleBar("like button")
          .like-buttons__array.additional-padding.twinline-gap_own
            +likeButtons([
              { pressed: false, likecount: 2 },
              { pressed: true, likecount: 12 }
            ])
        .block__star-rate.indentation_double
          +titleBar("rate button")
          .star-rate__elem.additional-padding.twinline-gap_own
            +stars([4, 5])
      .form-elements-column
        .block__mean-oval-buttons.indentation_double
          +titleBar("buttons")
          .mean-oval-buttons__array.additional-padding 
            +meanOvalButtons([
              { type: "contained" },
              { type: "contained", disabled: true },
              { type: "outlined" },
              { type: "outlined", disabled: true },
              { type: "text" },
              { type: "text", disabled: true },
              { type: "contained", text: "перейти к оплате", iconname: "arrow_forward", widthkey: "100" },
            ])
    .form-elements__wrap_upper-middle.indentation_wrap
      .form-elements-column
        .block__dropdowns_in-action.indentation_single
          +inputs([
            {
              title: "dropdown",
              state: "default",
              placeholder: "2 спальни, 2 кровати...",
              keywidth: 75,
              dropdown: {
                options: [
                  ""
                ]
              }
            },
            {
              title: "dropdown",
              state: "expanded",
              placeholder: "2 спальни, 2 кровати...",
              keywidth: 75,
              dropdown: {
                options: [
                  "спальни",
                  "кровати",
                  "ванные комнаты"
                ]
              }
            }
          ])
      .form-elements-column.column_center
      .form-elements-column
    .form-elements__wrap_lower-middle.indentation_wrap
      .form-elements-column
      .form-elements-column.column_center
      .form-elements-column
    .form-elements__wrap_bottom.indentation_wrap
      .form-elements-column
        .block__advantage-bars.indentation_single
          +advantageBars([
            {
              icon: "insert_emoticon",
              title: "Комфорт",
              brief: "Шумопоглощающие стены"
            },
            {
              icon: "location_city",
              title: "Удобство",
              brief: "Окно в каждой из спален"
            }
          ])
      .form-elements-column.column_center
      .form-elements-column
  footer.ui-kit__footer
