include ../components/ui-kit/header/header.pug
include ../components/ui-kit/input/input.pug
include ../components/ui-kit/dropdown/dropdown.pug

block content
  body
    +headerItem()
    main
      +inputItems([
        {
          title: "text field",
          state: "default",
          type: "email",
          placeholder: "Email"
        },
        {
          title: "text field",
          state: "hover / focus",
          placeholder: "This is pretty awesome"
        },
        {
          title: "masked text field",
          placeholder: "ДД.ММ.ГГГГ"
        }
      ])
      +dropdownItems([
        {
          title: "text field",
          state: "default",
          type: "email",
          placeholder: "Email"
        }
      ])
      