include ../components/ui-kit/header/header.pug
include ../components/ui-kit/input/input.pug
include ../components/ui-kit/dropdown/dropdown.pug
include ../components/ui-kit/advantage-bar/advantage-bar.pug
include ../components/ui-kit/star-rate/star-rate.pug
include ../components/ui-kit/title-bar/title-bar.pug

head
  script(src='../src/components/ui-kit/dropdown/dropdown.js')   

body.ui-kit__body
  +header()
  main.ui-kit__main
    .indention_wrap.form-elements-wrap_top
      .indention_single
        +inputs([
          {
            title: "text field",
            state: "default",
            placeholder: "Email"
          },
          {
            title: "text field",
            state: "hover / focus",
            placeholder: "This is pretty awesome"
          },
          {
            title: "dropdown",
            placeholder: "Сколько гостей",
            dropdown: {
              options: [
                "взрослые",
                "дети",
                "младенцы"
              ]
            }
          },
          {
            title: "masked text field",
            placeholder: "ДД.ММ.ГГГГ"
          }
        ])
      .indention_double.pseudo-twins-line
        +inputs([
          {
            title: "date dropdown",
            placeholder: "ДД.ММ.ГГГГ",
            keywidth: 50,
            dropdown: {
              options: [
                ""
              ]
            }
          },
          {
            title: "date dropdown",
            placeholder: "19.08.2019",
            keywidth: 50,
            dropdown: {
              options: [
                ""
              ]
            }
          }
        ])
      .indention_double
        +inputs([
          {
            title: "filter date dropdown",
            placeholder: "19 авг - 23 авг",
            keywidth: 75,
            dropdown: {
              options: [
                ""
              ]
            }
          }
        ])
      .indention_double
        +inputs([
          {
            title: "subscription text field",
            placeholder: "Email",
            type: "email",
            subscription: true
          }
        ])
        +titlebar("rate button")
        +stars([4, 5])
    .indention_wrap.form-elements-wrap_middle
      .indention_single
        +inputs([
          {
            title: "dropdown",
            state: "default",
            placeholder: "2 спальни, 2 кровати...",
            keywidth: 75,
            dropdown: {
              options: [
                ""
              ]
            }
          },
          {
            title: "dropdown",
            state: "expanded",
            placeholder: "2 спальни, 2 кровати...",
            keywidth: 75,
            dropdown: {
              options: [
                "спальни",
                "кровати",
                "ванные комнаты"
              ]
            }
          }
        ])
    .indention_wrap.form-elements-wrap_bottom
      .indention_single
        +advantages([
          {
            icon: 'insert_emoticon',
            title: 'Комфорт',
            brief: 'Шумопоглощающие стены'
          },
          {
            icon: 'location_city',
            title: 'Удобство',
            brief: 'Окно в каждой из спален'
          }
        ])
  footer.ui-kit__footer
