include ../components/ui-kit/header/header.pug
include ../components/ui-kit/input/input.pug
include ../components/ui-kit/dropdown/dropdown.pug
include ../components/ui-kit/advantage-bar/advantage-bar.pug

head
  block scripts
    script(src='../src/components/ui-kit/dropdown/dropdown.js')   

block content
  body.ui-kit__body
    +headerItem()
    main.ui-kit__main
      .indentation_wrap.form-elements-wrap_top
        .indentation_single
          +inputItems([
            {
              title: "text field",
              state: "default",
              type: "email",
              placeholder: "Email",
              widthkey: 100
            },
            {
              title: "text field",
              state: "hover / focus",
              placeholder: "This is pretty awesome",
              widthkey: 100
            },
            {
              title: "dropdown",
              placeholder: "Сколько гостей",
              widthkey: 100,
              dropdown: {
                options: [
                  "взрослые",
                  "дети",
                  "младенцы"
                ]
              }
            },
            {
              title: "masked text field",
              placeholder: "ДД.ММ.ГГГГ",
              widthkey: 100
            }
          ])
        .indentation_double.pseudo-twins-line
          +inputItems([
            {
              title: "date dropdown",
              placeholder: "ДД.ММ.ГГГГ",
              widthkey: 50,
              dropdown: {
                options: [
                  ""
                ]
              }
            },
            {
              title: "date dropdown",
              placeholder: "19.08.2019",
              widthkey: 50,
              dropdown: {
                options: [
                  ""
                ]
              }
            }
          ])
        .indentation_double
          +inputItems([
            {
              title: "filter date dropdown",
              placeholder: "19 авг - 23 авг",
              widthkey: 75,
              dropdown: {
                options: [
                  ""
                ]
              }
            }
          ])
        .indentation_double
      .indentation_wrap.form-elements-wrap_middle
        .indentation_single
          +inputItems([
            {
              title: "dropdown",
              state: "default",
              placeholder: "2 спальни, 2 кровати...",
              widthkey: 75,
              dropdown: {
                options: [
                  ""
                ]
              }
            },
            {
              title: "dropdown",
              state: "expanded",
              placeholder: "2 спальни, 2 кровати...",
              widthkey: 75,
              dropdown: {
                options: [
                  "спальни",
                  "кровати",
                  "ванные комнаты"
                ]
              }
            }
          ])
      .indentation_wrap.form-elements-wrap_bottom
        .indentation_single
          +advantageBars([
            {
              icon: 'insert_emotion',
              title: 'Комфорт',
              brief: 'Шумопоглощающие стены',
            }
          ])
    footer.ui-kit__footer