.form-elements {
  &__wrap {
    &_top {
      height: 652px;
    }

    &_upper-middle {
      height: 240px;
    }

    &_lower-middle {
      height: 312px;
    }

    &_top,
    &_upper-middle,
    &_lower-middle {
      grid-template-columns: 320px 374px 320px;
    }

    &_bottom {
      grid-template-columns: 320px 712px;
    }
  }

  &__column {
    display: grid;
    grid-gap: 40px;
  }

  &__block {
    display: grid;
    grid-gap: 20px;
  }
}

.column {
  &_center,
  &_center-right {
    margin-left: 54px;
  }
}

.twinline-gap {
  &_own {
    display: flex;
  }

  &_longest {
    display: flex;
    justify-content: space-between;
  }
}

.indentation {
  &_wrap {
    padding-bottom: 80px;
    display: grid; 
    grid-gap: 72px;
  }
}
