include ../components/headers/ui-kit/header-ui.pug
include ../components/headers/landing/header-landing.pug
include ../components/footer/footer.pug

body.ui-kit__body.bgcolor_whisper
  header.ui-kit__header
    +headerUI()
  main
    .headers-n-footers
      +headerLanding({ authorized: false })
      +headerLanding({ authorized: true })
      +footer()
      +footer()
  footer.ui-kit__footer
    