include ../components/headers/ui-kit/header-ui.pug

body
  header
    +headerUI()
  main
    .index-links
      a(href="cards.html") cards
      a(href="colors-n-type.html") colors & type
      a(href="form-elements.html") form elements
      a(href="headers-n-footers.html") headers & footers
  footer