mixin likeMode( item )
  .like-mode__icon
    - const iconCode = item.pressed ? 'favorite' : 'favorite_border'
    - const iconAdditionalClass = item.pressed ? 'gradient-fill' : ''
    span.material-icons-outlined( class=iconAdditionalClass ) #{iconCode}
  .like-mode__counter
    span #{item.likecount}