mixin likeMode( item )
  .like-mode__icon
    span.material-icons-outlined( class=item.toggled ? 'gradient-fill' : '' ) favorite#{item.toggled ? '' : '_border'}
  .like-mode__counter
    span #{item.likecount}