@import "@variables";

.like-mode {
  &__icon {
    position: relative;
    display: inherit;
    justify-content: center;
    align-items: center;
    width: 20px;
  }

  &__counter {
    display: inherit;
    justify-content: flex-start;
    align-items: center;

    & + span {
      line-height: 12px;
    }
  }
}