@import "@variables";
@import "../buttons.scss";

.like-button {
  display: flex;

  &__elem {
    @extend .oval-button_frame;
  }

  &__icon {
    width: 20px;
  }

  &__counter {
    width: 10px;
  }

  & > label {
    position: relative;
    left: -1px;
    display: inherit;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    line-height: 12px;
  }
}
