mixin likeButtons( items=[] )
  each item in items
    - const iconCode = item.pressed ? 'favorite' : 'favorite_border'
    - const buttonChecked = item.pressed ? true : false

    .like-button
      input.like-button__elem( type='checkbox' checked=buttonChecked )
      label.like-button__icon.material-icons-outlined #{iconCode}
      label.like-button__counter #{item.likecount}
