@import "@variables";

.like-button {
  &__icon {
    width: 20px;
  }

  &__counter {
    width: 10px;
  }

  & > div {
    display: inherit;
    position: relative;
    left: -1px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    & > span {
      font-size: 10px;
      line-height: 12px;
    }
  }
}
