include ../../material-icon-cell/material-icon-cell.pug

mixin likeButtons( items=[] )
  - let buttonsCount = 0

  each item in items
    - const iconCode = item.pressed ? 'favorite' : 'favorite_border'
    - const buttonChecked = item.pressed ? true : false
    - const itemId = item.groupname + '_' + ++buttonsCount

    .like-button
      input.like-button__elem( type='checkbox' checked=buttonChecked id=itemId )
      .like-button__text
        .like-button__text_icon
          +materialIcon( iconCode, itemId )
        label.like-button__text_counter( for=itemId ) #{item.likecount}
