@font-face {
	font-family: 'Montserrat';
	src: local('☺'), url('fonts/montserrat__regular.woff') format('woff'), url('fonts/montserrat__regular.ttf') format('truetype'), url('fonts/montserrat__regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: local('☺'), url('fonts/montserrat__bold.woff') format('woff'), url('fonts/montserrat__bold.ttf') format('truetype'), url('fonts/montserrat__bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}
