@import "@variables";

.link {
  display: flex;
  color: $valhalla-b;

  &__elem {
    text-decoration: none;
    color: inherit;

    &_bold {
      font-weight: bold;
      color: $valhalla-c;
    }
  }
}
