include /components/logo/logo.pug
include /components/material-icon-cell/material-icon-cell.pug
include /components/navigation-bar/navigation-bar.pug
include /components/button/__mean-oval/button__mean-oval.pug

mixin header( item )
  .header
    .header__container_ejectable
      .header__ejectable-button-panel.header__wide-part
        if ( item.filtering )
          .header__ejectable-button_filter-rooms
            +meanOvalButtons({
              groupname: "ejectable-button_filter-rooms",
              buttons: [{ type: "text", text: "подбор номера" }]
            })
        .header__ejectable-button_navigation
          +meanOvalButtons({
            groupname: "ejectable-button_navigation",
            buttons: [{ type: "text", text: "навигация" }]
          })
        .header__ejectable-button_login-or-profile
          +meanOvalButtons({
            groupname: "ejectable-button_login",
            buttons: [{ type: "text", text: item.authorized ? "профиль" : "авторизация" }]
          })
      .header__ejector.header__wide-part
        +materialIcon("more_horiz")
    .header__container_general.header__wide-part
      .header__sections
        .header__sections_logo
          .header__logo
            +logo({ type: "colorful" })
        .header__sections_desktop
          .header__nav
            +navigationBar({
              links: [
                { name: "О нас", bold: true },
                { name: "Услуги", icon: true },
                { name: "Вакансии", },
                { name: "Новости", },
                { name: "Соглашения", icon: true },
              ]
            })
          case item.authorized
            when true
              .header__user-bar
                span.header__user-bar_username.custom-font-style_body-plain Юлий Цезарь
            when false 
              .header__authorization-buttons
                +meanOvalButtons({
                  groupname: "header__login-btn",
                  buttons: [
                    { type: "outlined", widthbypercent: 27, text: "войти" },
                    { type: "contained", widthbypercent: 61, text: "зарегестрироваться" }
                  ]
                })
