@import "@variables";

@media only screen and (max-width: $piquetRoomGridColumnsTwo) {
  .header__ejectable-button_filtration {
    display: unset;
  }
}

@media only screen and (min-width: $piquetRoomGridColumnsTwo) {
  .header__ejectable-button_filtration {
    display: none;
  }
}

@media only screen and (max-width: 832px) {
  .header {
    &__ejectable-button_login-or-profile {
      display: unset;
    }

    &__sections {
      justify-content: center;

      &_desktop {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 832px) {
  .header {
    &__ejectable-button_login-or-profile {
      display: none;
    }

    &__sections {
      justify-content: space-between;

      &_mobile {
        display: none;
      }

      &_desktop {
        display: grid;
        grid-gap: 20px;
        align-items: center;
      }
    }
  }
}

@media only screen and (max-width: 1180px) {
  .header {
    &__nav {
      display: none;
    }

    &__container_ejectable {
      transform: translateY(35px);
    }
  }

  .container-ejected {
    transform: translateY(70px)
  }
}

@media only screen and (min-width: 1180px) {
  .header {
    &__nav {
      display: unset;
    }

    &__sections_desktop {
      grid-template-columns: repeat(2, auto);
    }

    .container_ejected,
    &__container_ejectable {
      transform: translateY(21px);
    }
  }
}

.header {
  position: relative;
  height: 70px;

  &__wide-part,
  &__sections,
  &__user-bar {
    display: flex;
    align-items: center;
  }

  &__sections,
  &__wide-part,
  &__container_ejectable {
    width: 100%;
  }

  &__wide-part {
    justify-content: center;
    padding-inline: 140px;
    box-sizing: border-box;
  }

  &__container {
    &_general {
      position: absolute;
      top: 0px;
      background-color: $white;
      height: 70px;
      isolation: isolate;
    }

    &_ejectable {
      transition: transform .3s ease;
    }
  }
  
  &__sections {
    max-width: $wideFramesWidthMax;
  }

  &__authorization-buttons {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, auto);
    align-items: center;
  }

  &__user-bar {
    height: 30px;
    border-left: 1px solid rgba($valhalla, .1);
    padding-left: 20px;

    &_username {
      opacity: .5;
    }
  }

  &__ejectable-button-panel {
    display: flex;
    gap: 5vw;
    background-color: rgba($whisper, .75);
    height: 36px;
    box-shadow: inset 0px 10px 20px rgba($valhalla, 0.05);
  }

  &__ejector {
    box-shadow: 0px 10px 20px rgba($valhalla, 0.05);
    background-color: $white;
    color: rgba($valhalla, .5);
    height: 14px;
  }
}

.window {
  &_invisible {
    display: none !important;
  }
}
