include /components/logo/logo.pug
include /components/navigation-bar/navigation-bar.pug
include /components/button/__mean-oval/button__mean-oval.pug

mixin header( item )
  .header
    .header__sections_left
      .header__logo
        +logo({ type: "colorful" })
    .header__sections_right
      .header__nav
        +navigationBar({
          links: [
            { name: "О нас", bold: true },
            { name: "Услуги", icon: true },
            { name: "Вакансии", },
            { name: "Новости", },
            { name: "Соглашения", icon: true },
          ]
        })
      case item.authorized
        when true
          .header__user-bar
            span.header__user-bar_full-name Юлий Цезарь
        when false 
          .header__authorization-buttons
            +meanOvalButtons({
              groupname: "header__login-btn",
              buttons: [
                { type: "outlined", text: "войти" },
                { type: "contained", text: "зарегестрироваться", widthbypercent: 75 }
              ]
            })
