@import "@variables";

@media only screen and (max-width: 1175px) {
  .header__sections_desktop {
    display: none;
  }
}

@media only screen and (max-width: 1920px) {
  .header__sections_mobile {
    display: none;
  }
}

.header {
  justify-content: center;
  padding-inline: 140px;
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  background-color: white;
  
  &,
  &__sections,
  &__sections_right,
  &__user-bar {
    display: flex;
    align-items: center;
  }
  
  &__sections {
    justify-content: space-between;
    width: 100%;
    max-width: $wideFramesWidthMax;
    min-width: $wideFramesWidthMin;

    &_right {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, auto);
    }
  }

  &__user-bar {
    height: 30px;
    border-left: 1px solid rgba($valhalla, .1);
    padding-left: 20px;

    &_username {
      opacity: .5;
    }
  }

  &__authorization-buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    align-items: center;
  }
}
