mixin dropdownElem( dropdown, expanded )
  - const expanderActiveClass = expanded ? 'expander_active' : ''

  .dropdown.expander__aim( class=expanderActiveClass )
    each option in dropdown.options
      .dropdown__option
        span.dropdown__option_name.custom-font-style_h3 #{option}
        .dropdown__button_inc 
        span.dropdown__counter 
        .dropdown__button_dec
    