.elem__width {
  &_100 {
    width: 320px
  }

  &_75 {
    width: 266px;
  }

  &_50 {
    width: 150px
  }

  &_30 {
    width: 99px;
  }
}

.twins-grid-line {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: start;
}
