@import "@variables";

.elem__width {
  &_100 {
    width: 320px
  }

  &_83 {
    width: 266px;
  }

  &_81 {
    width: 260px;
  }

  &_61 {
    width: 196px;
  }

  &_47 { 
    width: 150px
  }

  &_30 {
    width: 99px;
  }

  &_27 {
    width: 87px;
  }
}

.custom-font-style {
  &_h1,
  &_h2,
  &_h3 {
    color: $valhalla;
    font-weight: bold;
  }

  &_h1 {
    font-size: calcRelativeFontSize( 24 );
  }

  &_h2 {
    font-size: calcRelativeFontSize( 19 );
    line-height: calcRelativeFontSize( 23 );
  }

  &_h3 {
    font-size: calcRelativeFontSize( 12 );
  }

  &_body,
  &_body-plain {
    font-size: calcRelativeFontSize( 14 );
    line-height: calcRelativeFontSize( 24 );
  }

  &_body {
    color: rgba($valhalla, .75);

    &-plain {
      color: $valhalla;
    }
  }

  &_micro-note {
    color: rgba($valhalla, .5);
    font-size: calcRelativeFontSize( 12 );
    line-height: calcRelativeFontSize( 14 );
  }
}

.twins-grid-line {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: start;
}

.fullscreen-bottom-border {
  border-bottom: 1px solid rgba($valhalla, .25);
}
