@import "@variables";

.radio-button {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
  align-items: center;

  &__line-array {
    grid-gap: 20px;
  }

  & * {
    cursor: pointer;
  }

  &__elem {
    position: relative;
    display: flex;
    margin: 0;
    width: 20px;
    height: 20px;
    appearance: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    border-color: $valhalla;
    opacity: .25;

    &:checked {
      align-items: center;
      justify-content: center;
      border-color: $perfume;
      opacity: 1;

      &:after {
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: $primary-gradient;
        content: '';
      }

      & + .radio-button__label {
        opacity: .75;
      }
    }
  }

  &__label {
    opacity: .5;
  }
}
