@media only screen and (max-width: 782px) {
  .landing-page {
    &__note {
      right: 0px;
      width: 100%;
      text-align: center;
    }
  }
}

@media only screen and (min-width: 782px) {
  .landing-page {
    &__note {
      right: 150px;
      width: 297px;
      text-align: right;
    }
  }
}

@media only screen and (max-width: 675px) {
  .landing-page {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    padding-inline: 0;
  }
}

@media only screen and (min-width: 675px) {
  .landing-page {
    padding-inline: 140px;
  }
}

.landing-page {
  width: 100%;
  height: 100%;

  &__note {
    position: absolute;
    bottom: 18px;
  }
}
