extends /pages/website/website.pug

block head
  title TOXIN HOTEL / LANDING

block main
  include /components/card/__find-room/card__find-room.pug

  main.website__main.bg-pic__landing
    .landing-page.universal-container
      +cardFindRoom()

      span.landing-page__bg-note.custom-font-style_body Лучшие номера для вашей работы, отдыха и просто вдохновения

