mixin buttonLike( items=[] )
  each item in items
    .like-btn(class=item.toggled ? 'like-btn_toggled' : '')
      .like-btn__icon
        span.material-icons-outlined(class=item.toggled ? 'gradient-fill' : '') #{item.toggled ? 'favorite' : 'favorite_border'}
      .like-btn__counter
        span #{item.likecount}