@import "@variables";

.votes-chart {
  align-items: flex-end;

  &,
  &__legend,
  &__diagram,
  &__diagram-text,
  &__legend-item {
    display: flex;
  }
  
  &__diagram {
    position: relative;
    align-items: center;
    justify-content: center;
  }

  &__diagram-element {
    animation: infiniteRotation 60s linear infinite;
    clip-path: circle(50%);

    &_unit {
      fill: none;
      transition: all .5s ease;
      cursor: pointer;
      outline: none;
    }
  }

  &__diagram-text {
    position: absolute;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;

    &_votes,
    &_word {
      transition: color .8s ease;
    }
  }

  &__legend {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-left: 30px;
  }

  &__legend-item {
    display: flex;
    align-items: center;
    cursor: pointer;

    &_marker {
      border-radius: 50%;
      height: 10px;
      width: 10px;
      margin-right: 5px;
    }
  }
}

.gradient {
  @mixin svgGradient( $suffix, $start-color, $end-color ) {
    &__#{ $suffix } {
      &_start {
        color: $start-color;
        stop-color: $start-color;
      }
      &_end {
        stop-color: $end-color;
      }
    }
  }

  @include svgGradient( 'primary', $perfume, $portage );
  @include svgGradient( 'primary', $silver-tree, $turquoise-blue );
  @include svgGradient( 'primary', $cream-brulee, $mandys-pink );
  @include svgGradient( 'primary', $suva-grey, $port-gore );
}

.marker {
  &_primary {
    background: $primary-gradient;
  }
  &_secondary {
    background: $secondary-gradient;
  }
  &_tertiary {
    background: $tertiary-gradient;
  }
  &_quaternary {
    background: $quaternary-gradient;
  }
}

@keyframes infiniteRotation {
  from {
    -ms-transform: rotate( 0deg );
    -moz-transform: rotate( 0deg );
    -webkit-transform: rotate( 0deg );
    -o-transform: rotate( 0deg );
    transform: rotate( 0deg );
  }
  to {
    -ms-transform: rotate( 360deg );
    -moz-transform: rotate( 360deg );
    -webkit-transform: rotate( 360deg );
    -o-transform: rotate( 360deg );
    transform: rotate( 360deg );
  }
}
