@import "@variables";
@import "@styles/__text/styles__text.scss";

.bullet-list {
  position: relative;
  top: -2px;
  margin: 0;
  padding: 0;

  &__row {
    @extend %styles__text_body;
    position: relative;
    left: 20px;
    width: 240px;
    line-height: 24px;
    margin-bottom: 10px;

    &::before {
      position: absolute;
      top: 7px;
      left: -20px;
      background: $valhalla-a;
      width: 10px;
      height: 10px;
      border: transparent;
      border-radius: 50%;
      content: '';
    }
  }
}