mixin advantageBars( items=[] )
  each item in items
    .advantages-block
      .advantages-block__text-bar
        .advantages-block__icon
          span.material-icons-outlined.gradient-fill #{item.iconname}
        .advantages-block__text
          span.advantages-block__text__title #{item.title}
          span.advantages-block__text__brief #{item.brief}
      .advantages-block__line-bar
        hr.advantages-block__line-bar__elem( noshade=true size='1px' width='280px' )
