@import "@variables";
@import "../../styles/gradient-fill-entities.scss";

.advantages-bar {
  width: 280px;

  &__content {
    display: flex;
    margin-bottom: 17px;
  }

  &__icon {
    @extend .gradient-fill;
    position: relative;
    width: 48px;
    height: 48px;
    margin-right: 10px;

    & > span {
      font-size: 48px;
    }
  }

  &__text {
    display: inherit;
    flex-direction: column;
  }

  &__title {
    font-weight: bold;
  }
  
  &__line {
    color: $valhalla;
    opacity: .1;
    margin: 0;
  }
}

.block__advantage-bars {
  display: grid;
  grid-gap: 20px;
}
