@import "@variables";
@import "../../styles/gradient-fill-entities.scss";

.advantages-block {
  width: 280px;

  &__text-bar {
    display: flex;
    margin-bottom: 17px;
  }

  &__icon {
    @extend .gradient-fill;
    position: relative;
    width: 48px;
    height: 48px;
    margin-right: 10px;

    & > span {
      font-size: 48px;
    }
  }

  &__text {
    display: inherit;
    flex-direction: column;
    opacity: .75;
    font-size: 14px;
    line-height: 24px;

    &__title {
      font-weight: bold;
    }

    &__brief  {
      font-weight: normal;
    }
  }
  
  &__line-bar {
    &__elem {
      color: $valhalla;
      opacity: .1;
      margin: 0;
    }
  }
}

.block__advantage-bars {
  display: grid;
  grid-gap: 20px;
}
