include ../material-icon-cell/material-icon-cell.pug

mixin advantageBars( items=[] )
  each item in items
    .advantages-bar
      .advantages-bar__content
        .advantages-bar__icon
          +materialIcon( item.iconname )
        .advantages-bar__text
          span.advantages-bar__title #{item.title}
          span.advantages-bar__brief #{item.brief}
      hr.advantages-bar__line( noshade=true size='1px' width='280px' )
