$screenHeight: 646px;
$mainHeight: 684px;

@function defineElementSizePercentage($container, $element) {
  @return  $container / $element * 100 + '%' ;
}

.wrap_registration-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: defineElementSizePercentage( $mainHeight, $screenHeight );
  min-height: $mainHeight;
  background-size:cover;
}