extends /pages/website/website.pug

block head 
  title TOXIN HOTEL / REGISTRATION

block main
  include /components/card/__registration/card__registration.pug

  main.website__main
    .wrap_registration-card.bg-pic__login-n-registration
      +cardRegistration()
