extends /pages/website/website.pug


include /components/card/__registration/card__registration.pug


block head 
  title TOXIN HOTEL / REGISTRATION

block main
  main.website__main.bg-pic__login-n-registration
    .registration-page
      +cardRegistration()
