extends /pages/website/website.pug


block head 
  title TOXIN HOTEL / REGISTRATION


block header
  include /components/header/header.pug
  
  +header({ authorized: false })


block main
  include /components/card/__registration/card__registration.pug

  main.website__main.bg-pic__login-n-registration
    .registration-page
      +cardRegistration()
