@import "@variables";

%styles__text {
  &_h1,
  &_h2,
  &_h3 {
    color: $valhalla;
    font-weight: bold;
  }

  &_h1 {
    font-size: calcRelativeFontSize( 24 );
  }

  &_h2 {
    font-size: calcRelativeFontSize( 19 );
    line-height: calcRelativeFontSize( 23 );
  }

  &_h3 {
    font-size: calcRelativeFontSize( 12 );
  }

  &_body,
  &_body-plain {
    font-size: calcRelativeFontSize( 14 );
    line-height: calcRelativeFontSize( 24 );
  }

  &_body {
    color: $valhalla-c;

    &-plain {
      color: $valhalla;
    }
  }

  &_micro-note {
    color: $valhalla-b;
    font-size: calcRelativeFontSize( 12 );
    line-height: calcRelativeFontSize( 14 );
  }
}
