@import "@variables";

.footer {
  &_default{
    width: 100%;
  }

  &__sections {
    &_upper,
    &_lower {
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      padding-inline: 140px;
      background-color: white;
    }

    &_upper {
      align-items: start;
      padding-block: 111px;
    }

    &_lower {
      align-items: center;
      flex-direction: row;
      height: 70px;
    }
  }

  &_mobile,
  &__mobile-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__mobile-section {
    flex-direction: column;
    height: 367px;
    max-width: 768px;
    background-color: white;

    & > span {
      margin-block: 20px 25px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: $wideFramesWidthMax;
    min-width: $wideFramesWidthMin;

    &_shell {
      display: grid;
      grid-gap: 20px;
      width: 260px;
    }

    &_core {
      width: 150px;
    }
  }
}
