@import "@variables";

.footer {
  width: 100%;
  background-color: white;

  &__upper-section,
  &__lower-section {
    padding-inline: 140px;
  }
  &__upper-section {
    display: grid;
    align-items: center;
    height: 372px;
    border-bottom: 1px solid rgba($valhalla, .25);

    &_content {
      display: grid;
      grid-template-columns: 260px repeat(3, 150px) 260px;
      grid-gap: 40px;
      height: 170px;
    }
  }

  &__lower-section {
    height: 70px;
  }

  &__common-text {
    font-size: 14px;
    line-height: 24px;
    color: rgba($valhalla, .75)
  }

  &__content-container {
    display: grid;
    grid-gap: 20px;
  }
}