include ../title-bar/title-bar.pug
include link/link.pug

mixin navigationLinks( item )
  - const orientationSuffix = item.vertical ? 'vertical' : 'horizontal'
  - const orientationClass = 'navigation-links_' + orientationSuffix

  nav.navigation-links( class=orientationClass )
    if item.vertical
      +titleBar( item.title )
    each link in item.links
      +link( link )
