@import '@variables';
@import "@styles/__text/styles__text.scss";

$optionButtonSize: 30px;

.input {
  &__dropdown {
    display: grid;
    grid-gap: 7px;
    position: absolute;
    top: 43px;
    width: inherit;
    background-color: $white;
    border-color: $valhalla-b;
    border-radius: 0 0 4px 4px;
    box-shadow: $boxShadowAlternative;
    padding: 7px 7px 7px 15px;
    visibility: hidden;
    z-index: 20;
  }

  &__option,
  &__state-controllers {
    display: flex;
    justify-content: space-between;
  }

  &__option {
    @extend %styles__text_h3;
    align-items: center;

    &-name {
      text-transform: uppercase;
    }

    &-counter,
    &-button-block {
      display: flex;
    }

    &-button {
      &-block {
        justify-content: space-between;
        width: 92px;
      }

      &_increase,
      &_decrease {
        width: $optionButtonSize;
        height: $optionButtonSize;
        transition: opacity .5s ease;
      }
    }

    &-counter {
      justify-content: center;
      align-items: center;
      height: $optionButtonSize;
      box-sizing: border-box;
    }
  }

  &__state-controllers {
    margin-block: 13px 5px;
  }
}
