include /components/button/__mean-oval/button__mean-oval.pug

mixin datePicker( id )
  .date-picker
    .date-picker__container
    .date-picker__buttons
      .date-picker__buttons_clear
        +meanOvalButtons({
          groupname: `${id}-clear`,
          buttons: [{
            mode: "text",
            text: "очистить"
          }]
        })
      .date-picker__buttons_submit
        +meanOvalButtons({
          groupname: `${id}-submit`,
          buttons: [{
            mode: "text",
            text: "применить"
          }]
        })
