mixin advantageBars( items=[] )
  each item in items
    .adv-block
      .adv-block__icon-bar
        span.material-icons-outlined.icon-state #{item.icon}
      .adv-block__text-bar
        span.adv-block__text-bar_title #{item.title}
        span.adv-block__text-bar_brief #{item.brief}
      .adv-block__line-bar
        hr.adv-block__line-bar__elem( noshade=true size='1px' width='280px' )