@import "@variables";

.advantages-block {
  width: 280px;
  height: 144px;

  &__text-bar {
    display: flex;
  }

  &__icon {
    position: relative;
    width: 48px;
    height: 48px;
  }

  &__text {
    display: inherit;
    flex-direction: column;

    &__title {
      font-weight: bold;
    }

    &__brief  {
      font-weight: normal;
    }
  }
  
  &__line-bar {
    &__elem {
      color: $valhalla;
    }
  }
}
