@import "@variables";
@import "@styles/__text/styles__text.scss";

.comment-bar {
  grid-template-columns: repeat(2, auto);
  max-width: 710px;

  &,
  &__section_left,
  &__section_right,
  &__like-button,
  &__title {
    display: grid;
    align-items: start;
  }

  &,
  &__section_left,
  &__section_right {
    grid-gap: 10px;
  }
  
  &__section_left,
  &__section_right {
    grid-template-rows: repeat(2, auto);
  }

  &__section_right {
    @extend %styles__text_body;
  }

  &__section_left {
    width: 48px;
  }

  &__avatar {
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: $white;
    border-radius: 50%;
    filter: drop-shadow(0px 10px 20px rgba($valhalla, 0.1));
  }

  &__like-button {
    justify-content: center;
  }

  &__title {
    align-items: center;

    &_username {
      font-weight: bold;
    }
  }
}
