@import "@variables";

.comment-bar {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
  font-size: 14px;

  &__avatar {
    filter: drop-shadow(0px 10px 20px rgba($valhalla, 0.1));
  }

  &__like-button-wrap {
    display: inherit;
    align-items: start;
    justify-content: center;
  }

  &__title {
    display: inherit;
    align-items: center;

    &__name {
      font-weight: bold;
    }
  }

  &__title,
  &__text {
    color: rgba($valhalla, .75);
  }

  &__text {
    width: 653px;
    line-height: 24px;
  }
}