@import "@variables";

.comment-bar {
  grid-template-columns: repeat(2, auto);

  &,
  &__avatar-section,
  &__text-section,
  &__like-button,
  &__title {
    display: grid;
    align-items: start;
  }

  &,
  &__avatar-section,
  &__text-section {
    grid-gap: 10px;
  }
  
  &__avatar-section,
  &__text-section {
    grid-template-rows: repeat(2, auto);
  }

  &__text-section {
    width: 653px;
  }

  &__avatar > img {
    filter: drop-shadow(0px 10px 20px rgba($valhalla, 0.1));
  }

  &__like-button {
    justify-content: center;
  }

  &__title {
    align-items: center;

    &_username {
      font-weight: bold;
    }
  }
}
