mixin dropdown( item )
  - const dropdownEjectedClass = item.ejected ? 'dropdown_ejected' : 'dropdiwn_injected'

  .dropdown.expander__aim( class=dropdownEjectedClass )
    each option in item.options
      .dropdown__option
        span.dropdown__option_name #{option}
        .dropdown__button_inc 
        span.dropdown__counter 
        .dropdown__button_dec
    