@font-face {
	font-family: 'fa-brands';
	src: local('☺'), url('fonts/fa-brands.woff') format('woff'), url('fonts/fa-brands.ttf') format('truetype'), url('fonts/fa-brands.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
