$font-color: #452365;
$color-list: (
    valhalla: #1F2041,
    perfume: #BC9CFF,
    silvertree: #6FCF97
);

.col {
    color: $font-color;
}

.color-sample__holder {
    display: grid;
    grid-row: 7;
    grid-gap: 20px;
    width: 100%;
    height: 100%;
}

.color-sample {
    width: 70px;
    height: 70px;
    border-radius: 6px;
}

.background-color__valhalla {
    background: map-get($color-list, valhalla);
}

.background-color__perfume {
    background: map-get($color-list, perfume);
}

.background-color__silvertree {
    background: map-get($color-list, silvertree);
}

.opaque-100 {
    opacity: 1;
}

.opaque-75 {
    opacity: .75;
}

.opaque-50 {
    opacity: .5;
}

.opaque-25 {
    opacity: .25;
}

.opaque-5 {
    opacity: .05;
}
