body {
  margin: auto;
}

header {
  height: 85px;
  width: 100%;
  padding: 30px;
}

main {
  display: grid;
  padding: 0px 158px 0px 150px; 
  justify-content: space-between;
}

footer {
  height: 145px;
}