@import "@variables";

.link {
  display: flex;
  color: rgba($valhalla, .5);

  &__elem {
    text-decoration: none;
    color: inherit;

    &_bold {
      font-weight: bold;
      color: rgba($valhalla, .75);
    }
  }
}
