include ../../logo/logo.pug
include ../../buttons/mean-oval/mean-oval.pug
include ../../navigation-links/navigation-links.pug

mixin headerLanding( item )
  .header-landing.additional_shadow
    .header-landing__sections_left
      .header-landing__logo
        +logotype('colorful')
    .header-landing__sections_right
      .header-landing__nav
        +navigationLinks({
          links: [
            { href: "", name: "О нас", bold: true },
            { href: "", name: "Услуги", icon: true },
            { href: "", name: "Вакансии" },
            { href: "", name: "Новости" },
            { href: "", name: "Соглашения", icon: true },
          ]
        })
      case item.authorized 
        when true
          .header-landing__user-bar
            span.header-landing__user-bar_full-name Юлий Цезарь   
        when false 
          .header-landing__authorization-buttons
            +meanOvalButtons([
              {
                groupname: "header-landing__login-button",
                type: "outlined",
                text: "войти"
              },
              {
                groupname: "header-landing__register-button",
                type: "contained",
                text: "зарегестрироваться",
                widthbypercent: 75
              }
            ])
