include ../../logo/logo.pug
include ../../buttons/mean-oval/mean-oval.pug

mixin headerLanding( item )
  .header-landing
    .header-landing__sections_left
      .header-landing__logo
        +logotype('colorful')
    .header-landing__sections_right
      .header-landing__nav
      case item.authorized 
        when true
          .header-landing__user-bar
            span Юлий Цезарь   
        when false 
          .header-landing__authorization-buttons
            +meanOvalButtons([
              {
                groupname: "header-landing__login-button",
                type: "outlined",
                text: "войти"
              },
              {
                groupname: "header-landing__register-button",
                type: "contained",
                text: "зарегестрироваться",
                widthbypercent: 75
              }
            ])
