@import "@variables";

.header-landing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-inline: 140px;
  width: 100%;
  height: 70px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

  &__sections_right,
  &__user-bar {
    display: flex;
    align-items: center;
  }

  &__sections_right {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, auto);
  }

  &__user-bar {
    height: 30px;
    border-left: 1px solid rgba($valhalla, .1);
    padding-left: 20px;

    &_full-name {
      color: rgba($valhalla, .5);
    }
  }

  &__authorization-buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    align-items: center;
  }
}
