.checkbox-list {
  &__title {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    &_button {
      position: absolute;
      left: -10px;
      bottom: -4px;
      appearance: none;
      width: 256px;
      height: 28px;
      cursor: pointer;

      &:checked {
        transform: rotateX(0.5turn);
      }
    }

    &_icon {
      position: relative;
      margin-left: 40px;
      opacity: .5;

      & > label {
        cursor: pointer;
      }
    }
  }

  &__items {
    display: none;
    margin-top: 18px;
  }
}

.icon-flipped {
  transform: scaleY(-1);
}
