mixin typeSamples(items=[])
  .type-items__holder
    each item in items
      - const tagName = item.tagname.toLowerCase();

      .type-item( class=`font-size_${tagName}` )
        span.type-item__tagname #{item.tagname}
        span.type-item__note #{item.note}