@import "@variables";

.type-sample {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  &__container {
    display: grid;
    grid-row: 7;
    grid-gap: 51px;
  }

  &__associative-tag {
    font-weight: normal;
    color: rgba($valhalla, .25);
  }

  &__usage-instruction {
    display: inherit;
    margin-left: 30px;
    width: 369px;
  }
}
