mixin typeSamples(items=[])
  .type-items__holder
    each item in items
      - const tagName = item.tagname.toLowerCase();

      .type-item
        span.type-item__tagname #{item.tagname}
        span.type-item__note( class=`custom-font-style_${tagName}` ) #{item.note}