mixin typeSamples(items=[])
  .type-item__array
    each item in items
      - const tagName = item.tagname.toLowerCase();

      .type-item( class=`custom-font-style_${tagName}` )
        span.type-item__style-name #{item.tagname}
        span.type-item__note #{item.note}
