@import "@variables";

.type-items__holder {
  display: grid;
  grid-row: 7;
  grid-gap: 51px;
  width: 436px;
  height: 321px;
}

.type-item {
  display:flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: flex-end;
  color: $valhalla;

  &__tagname {
    margin: 0;
    opacity: .25;
  }

  &__note {
    display: inherit;
    margin: 0 0 0 30px;
    width: 369px;
  }
}

.font-size {
  &_h1,
  &_h2,
  &_h3 {
    & > .type-item__note {
      font-weight: bold;
    }
  }

  &_h1 {
    font-size: 24px;
  }

  &_h2 {
    font-size: 19px;
  }

  &_h3 {
    font-size: 12px;
  }

  &_body {
    font-size: 14px;
    
    & > .type-item__note {
      opacity: 0.75;
    }
  }
}
