include /components/logo/logo.pug

include /components/card/__registration/card__registration.pug
include /components/card/__find-room/card__find-room.pug
include /components/card/__login/card__login.pug
include /components/card/__room-booking/card__room-booking.pug
include /components/card/__room-sample/card__room-sample.pug

head 
  title UI KIT / Cards

body.ui-kit__body.bg-color_whisper
  header.ui-kit__header
    +logo({ type: "monochrome" })
  main.ui-kit__main
    .headers-n-footers__wrap
      .headers-n-footers__column
        +cardFindRoom()
        +cardRegistration()
      .headers-n-footers__column
        +cardRoomBooking()
        +cardLogin()
      .headers-n-footers__column
        +cardRoomSample({
          roomnumber: 888,
          picturescount: 3,
          rate: 5
        })
        +cardRoomSample({
          roomnumber: 840,
          picturescount: 1,
          rate: 4
        })
  footer.ui-kit__footer
