include /components/logo/logo.pug
include /components/card/__registration/card__registration.pug
include /components/card/__find-room/card__find-room.pug

body.ui-kit__body.bg-color_whisper
  header.ui-kit__header
    +logo({ type: "monochrome" })
  main.ui-kit__main
    .headers-n-footers
      +cardFindRoom()
      +cardRegistration()
  footer.ui-kit__footer