-
  const samples = [
    {
      room: 888,
      luxe: true,
      price: 9990,
      count: {
        rate: 5,
        reviews: 145,
        pictures: 3
      }
    },
    {
      room: 840,
      luxe: false,
      price: 9990,
      count: {
        rate: 4,
        reviews: 65
      }
    }
  ]
