extends /pages/ui-kit/ui-kit.pug


block head 
  title UI KIT / Cards


block append body
  body.ui-kit__body.bg-color_whisper


block main
  include /components/card/__registration/card__registration.pug
  include /components/card/__find-room/card__find-room.pug
  include /components/card/__login/card__login.pug
  include /components/card/__room-booking/card__room-booking.pug
  include /components/card/__room-sample/card__room-sample.pug
  include /components/card/__date-picker/card__date-picker.pug

  .headers-n-footers__wrap
    .headers-n-footers__column
      +cardFindRoom()
      +cardRegistration()
    .headers-n-footers__column
      +cardRoomBooking()
      +cardLogin()
    .headers-n-footers__column
      +cardDatePicker()
      -
        const samples = [
          {
            room: 888,
            luxe: true,
            price: 9990,
            count: {
              rate: 5,
              reviews: 145,
              pictures: 3
            }
          },
          {
            room: 840,
            luxe: false,
            price: 9990,
            count: {
              rate: 4,
              reviews: 65
            }
          }
        ]

      each sample in samples
        +cardRoomSample( sample )
