@import "@variables";

.mean-oval-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  padding-inline: 2px;
  margin-right: 20px;
  margin-bottom: 30px;
  box-sizing: border-box;

  &:hover > .mean-oval-button__background {
    opacity: .5;
  }

  &__background {
    position: absolute;
    border-radius: 22px;
    height: 44px;
    width: 100%;
    background: $primary-gradient;
    z-index: 1;
  }

  &__thumb {
    position: relative;
    border-radius: 20px;
    height: 40px;
    width: 100%;
    box-sizing:border-box;
    background: #fff;
    z-index: 2;
  }

  &__elem {
    position: absolute;
    appearance: none;
    border: none;
    background: transparent;
    text-transform: uppercase;
    font-size: 12px;
    font-family: inherit;
    font-weight: bold;
    color: #fff;
    z-index: 3;

    &:disabled {
      & + label {
        opacity: .5;
      }
    }
  }
}

.button-style {
  &_outlined {
    color: $perfume;
  }

  &_text {
    position: relative;
    color: $perfume;
    width: max-content;
    background-color: #fff;
    padding: 0;

    &:hover,
    &:disabled {
      color: $valhalla;
      opacity: .5;
    }
  }
}

.mean-oval-buttons__array {
  width: 100%;
  display: inline-flex;
  flex-flow: row wrap;
}

.animated {
  transition: box-shadow 150ms ease-out;
  &:focus {
    box-shadow: 0 0 0 8px rgba(#fff, 0.5);
  }
}

.ripple {
  background-color: $perfume;
  border-radius: 50%;
  mix-blend-mode: screen;
  animation: ripple 1250ms ease-out forwards, fade 1500ms ease-out forwards;
}

@keyframes ripple {
  0%   { transform: translate(-100%, -100%); }
  80%  { transform: translate(-100%, -100%) scale(50); }
  100% { transform: translate(-100%, -100%) scale(50); opacity: 0; }
}

@keyframes fade {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
