mixin meanOvalButtons( items=[] )
  each item in items
    - const buttonText = item.text ? item.text :"click me"

    .mean-oval-button
      case item.type 
        when 'contained'
          label.mean-oval-button__background
          button.mean-oval-button__elem #{buttonText}
        when 'outlined'
          label.mean-oval-button__background
          label.mean-oval-button__thumb
          button.mean-oval-button__elem.button-style_outlined #{buttonText}
        when 'text'
          button.mean-oval-button__elem.button-style_text #{buttonText}
