.mean-oval-button {
  &__background {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    height: 44px;
  }

  &__thumb {
    border-radius: 20px;
    height: 40px;
    background: #fff;
  }

  &__elem {
    
  }
}